In [1]:
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
import numpy as np
import nltk
import sys

In [2]:
df = pd.read_csv('..\WHUPL\Output\BMW.csv')
df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,MAA,2013,BLUE,BMW,740LI XDR,740LI XDR,4DSN,6GT,A,47357,39,1,5136995,20900,2019-06-28
1,MAA,2017,SILVER,BMW,430I XDRIVE CPE,430I XDRIV,2DCP,4GT,A,22870,45,1,5405860,26000,2019-06-28
2,MAA,2017,BLUE,BMW,X3 35I XDRIVE,XDRIVE35I,SUV,6GT,A,39856,43,5,5402663,29250,2019-06-28
3,MAA,2016,SILVER,BMW,X5 35I XDRIVE,35IX MSPT,SUV,6GT,A,23606,44,8,5287425,35500,2019-06-28
4,MAA,2007,BLUE,BMW,X5 4.8L,4.8I,4CUV,8G,A,65653,36,1,5372193,8700,2019-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79693,MAA,2015,SPCEGREY,BMW,535I XDRIVE,535IX LUX,4DSN,6GT,A,45570,44,2,5042109,23750,2019-06-28
79694,MAA,2009,BLUE,BMW,X5 3.0 SI,30I,4CUV,6G,A,140949,43,2,5042109,6900,2019-06-28
79695,MAA,2017,GREY,BMW,430I XDRIVE CNV,430IX SPT,2DCV,4GT,A,28544,45,3,5042109,37000,2019-06-28
79696,MAA,2016,GREY,BMW,528I XDRIVE,528IX MSPT,4DSN,4GT,A,29888,47,7,5042109,25750,2019-06-28
79697,MAA,2016,BLUE,BMW,320I XDRIVE,320I XDRIV,4DSN,4GT,A,7235,46,3,5042109,22500,2019-06-28

In [3]:
df = df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,MAA,2013,BLUE,BMW,740LI XDR,4DSN,A,47357,39,1,20900,2019-06-28
1,MAA,2017,SILVER,BMW,430I XDRIVE CPE,2DCP,A,22870,45,1,26000,2019-06-28
2,MAA,2017,BLUE,BMW,X3 35I XDRIVE,SUV,A,39856,43,5,29250,2019-06-28
3,MAA,2016,SILVER,BMW,X5 35I XDRIVE,SUV,A,23606,44,8,35500,2019-06-28
4,MAA,2007,BLUE,BMW,X5 4.8L,4CUV,A,65653,36,1,8700,2019-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...
79693,MAA,2015,SPCEGREY,BMW,535I XDRIVE,4DSN,A,45570,44,2,23750,2019-06-28
79694,MAA,2009,BLUE,BMW,X5 3.0 SI,4CUV,A,140949,43,2,6900,2019-06-28
79695,MAA,2017,GREY,BMW,430I XDRIVE CNV,2DCV,A,28544,45,3,37000,2019-06-28
79696,MAA,2016,GREY,BMW,528I XDRIVE,4DSN,A,29888,47,7,25750,2019-06-28
79697,MAA,2016,BLUE,BMW,320I XDRIVE,4DSN,A,7235,46,3,22500,2019-06-28

In [4]:
models = df.describe(include = 'all').loc['unique', :]
m = []
for i in df['model'].unique():
    m.append(i)
    
m.sort()
print(m)

['128I', '128I CNV', '128I CP', '128I CPE', '128I CV', '135I', '135I CNV', '135I CPE', '135I CV', '135IS CNV', '135IS CPE', '135M', '228I', '228I CNV', '228I CV', '228I XDRIVE', '228IX', '228IX CNV', '230I', '230IX', '3 SERIES', '3 SERIES GRA', '3 SERIES M3', '318', '318TI', '320I', '320I XDRIVE', '320I XDRIVE 0', '323CI', '323CIC', '323I', '323IC', '325', '325CI', '325CIC', '325I', '325IT', '325XI', '325XIT', '328', '328CI', '328D', '328D XDR WGN', '328D XDRIVE', '328I', '328I CNV', '328I CP', '328I CPE', '328I CV', '328I LUX', '328I MSPT', '328I SA', '328I SPT', '328I WGN', '328I XDR', '328I XDR CPE', '328I XDR WGN', '328I XDRIVE', '328I XDRIVE GT', '328I XDRIVE0', '328IC', '328IX MSPT', '328XI', '330', '330CI', '330CIC', '330E', '330E LUX', '330I', '330I XDR WGN', '330I XDRIVE', '330I XDRIVE GT', '330XI', '335CI', '335D', '335I', '335I CNV', '335I CONV', '335I CP', '335I CPE', '335I CV', '335I SA', '335I SPT PKG', '335I XDR', '335I XDR CPE', '335I XDR MSPORT', '335I XDRIVE', '335I XDRIVE GT', '335IS CNV', '335IS CP', '335IS CPE', '335XI', '340I', '340I XDRIVE', '340I XDRIVE GT', '4 SERIES', '428I', '428I CNV', '428I CP', '428I CPE', '428I CV', '428I SDN', '428I XDRIVE', '428I XDRIVE CNV', '428I XDRIVE CP', '428I XDRIVE CPE', '428I XDRIVE CV', '428I XDRIVE CV0', '428I XDRIVE SDN', '428I XDRIVECNV0', '430I', '430I CNV', '430I CP', '430I CPE', '430I CV', '430I GRAN CP', '430I GRAN CPE', '430I XDRIVE CNV', '430I XDRIVE CPE', '430I XDRIVE GC', '435I CNV', '435I CP', '435I CPE', '435I CV', '435I MSPT', '435I SDN', '435I XDRIVE CNV', '435I XDRIVE CP', '435I XDRIVE CPE', '435I XDRIVE CV', '435I XDRIVE SDN', '440I CNV', '440I CP', '440I CPE', '440I GRAN CP', '440I GRAN CPE', '440I XDRIVE CNV', '440I XDRIVE CPE', '440I XDRIVE GC', '5 SERIES', '5 SERIES M5', '525I', '525IA', '525IT', '525XI', '528I', '528I MSPT', '528I XDRIVE', '528IA', '528IA XDR', '528IA XDR 0', '528IM', '528IT', '528IX LUX', '528XI', '528XIA', '528XIM', '530', '530E', '530E XDRIVE', '530I', '530I XDRIVE', '530IA', '530XI', '535', '535D', '535D XDRIVE', '535I', '535I AUTO', '535I GT', '535I MAN', '535I XDRIVE', '535I XDRIVE GT', '535IA', '535IA XDR', '535IM', '535IX DRIVE', '535IX GT', '535XI', '535XI GT', '535XIA', '535XIM', '540', '540I', '540I SPORT', '540I XDRIVE', '540IA', '540IT', '545I', '545IA', '550I', '550I GT', '550I LUX', '550I XDRIVE', '550I XDRIVE GT', '550IA', '550IA XDR', '550IM', '550IX GT', '550XI GT', '550XIA', '6 SERIES M6', '640I', '640I 4X2 6C', '640I CNV', '640I CP', '640I CPE', '640I CV', '640I GC', '640I XDR', '640I XDR CNV', '640I XDR CPE', '640I XDR GC', '640I XDR GT', '640I XDRIVE GC', '645CI', '650I', '650I CNV', '650I CP', '650I CPE', '650I CV', '650I GC', '650I XDR', '650I XDR CNV', '650I XDR CP', '650I XDR CPE', '650I XDR CV', '650I XDR GC', '650I XDRIVE GC', '650IX MSPT', '7 SERIES', '740', '740E XDRIVE', '740I', '740I XDRIVE', '740IL', '740LD XDRIVE', '740LI', '740LI MSPT', '740LI XDR', '740LI XDRIVE', '745I', '745LI', '750I', '750I ACT HY', '750I XDR', '750I XDRIVE', '750IX', '750LI', '750LI ACT HY', '750LI M-SPORT', '750LI MSPORT', '750LI X', '750LI XDR', '750LI XDRIVE', '750LXI', '750XI', '760I', '760LI', '840', '840CI', 'ACTHY 7L HY', 'ACTHY3', 'ACTHY3 HY', 'ACTHY5 HY', 'ALP B6 XDR', 'ALP B6 XDR GC', 'ALP B7 LWB', 'ALP B7 SWB', 'ALP B7 XDR', 'ALPINA B7', 'B7 ALPINA LWB', 'B7 ALPINA SWB', 'CPE', 'F650GS', 'F800R', 'I3', 'I3 GIGA BEV', 'I3S', 'I8', 'I8 CPE', 'K1200LT', 'K1200R', 'M COUPE', 'M ROADSTER', 'M2 CPE', 'M235I', 'M235I CNV', 'M235I CP', 'M235I CPE', 'M235I CV', 'M235I XDRIVE', 'M235IX CNV', 'M235IX CP', 'M235IX CPE', 'M240I', 'M240IX', 'M3', 'M3 CI', 'M3 CPE', 'M3 SEDAN', 'M4', 'M4 CPE', 'M4 GTS CPE', 'M5', 'M5 COMPETITION', 'M550I XDRIVE', 'M6 CNV', 'M6 GRAN CPE', 'M6 SDN', 'M760I XDRIVE', 'M850I XDRIVE', 'R1100RT', 'S1000XR', 'X1', 'X1 28I', 'X1 28I SDRIV', 'X1 28I SDRIVE', 'X1 28I XDRI XLN', 'X1 28I XDRIVE', 'X1 28I XDRIVE0', 'X1 28I XLINE', 'X1 35I XDRIVE', 'X2 28I SDRIVE', 'X2 28I XDRIVE', 'X3 2.5L', 'X3 28D XDRIVE', 'X3 28I', 'X3 28I SDRIVE', 'X3 28I XDRIV', 'X3 28I XDRIVE', 'X3 28I XDRIVE0', 'X3 3.0L', 'X3 30I SDRIVE', 'X3 30I XDRIVE', 'X3 35I', 'X3 35I XDRIVE', 'X3 35IX', 'X3 M40I', 'X4', 'X4 28I XDRIVE', 'X4 30I XDRIVE', 'X4 35I XDRIVE', 'X4 M40I', 'X4 M40I XDRIVE', 'X5', 'X5 - 4.8I', 'X5 3.0 SI', 'X5 3.0L', 'X5 35D', 'X5 35D XDRIVE', 'X5 35I AWD', 'X5 35I PRM', 'X5 35I SDRIVE', 'X5 35I XDRIVE', 'X5 35I XDRIVE0', 'X5 4.4L', 'X5 4.6L', 'X5 4.8L', 'X5 40E XDRIVE', 'X5 40I XDRIVE', 'X5 50I', 'X5 50I MSPORT', 'X5 50I XDRIVE', 'X5 LUXURY LINE', 'X5 M', 'X6', 'X6 3.5L', 'X6 35I', 'X6 35I MSPRT', 'X6 35I SDRIVE', 'X6 35I XDRIVE', 'X6 50I', 'X6 50I XDRIVE', 'X6 ACT HYB', 'X6 M', 'X6 M-SPORT', 'X6 XDRIVE35I', 'XDR', 'Z SERIES', 'Z3 1.9', 'Z3 2.3', 'Z3 2.5', 'Z3 2.8', 'Z3 3.0', 'Z4 2.5', 'Z4 28I SDRIVE', 'Z4 3.0', 'Z4 3.0SI', 'Z4 35', 'Z4 35I', 'Z4 35IS', 'Z4 M', 'Z4 SDRI 35I', 'Z4 SDRIV35IS', 'Z4 SDRIVE 28I', 'Z4 SDRIVE 35I', 'Z4 SDRIVE 35IS', 'Z4 SDRIVE28I', 'Z4 SDRIVE30I', 'Z4 SDRIVE35I']

In [5]:
_128i = '128I'
_135i = '135I'
_228i = '228I'
_230i = '230I'
_3_series = '3 Series'
_318 = '318'
_320i = '320I'
_323i = '323I'
_325i = '325I'
_328i = '328I'
_330i = '330I'
_335i = '335I'
_340i = '340I'
_4_series = '4 Series'
_428i = '428I'
_430i = '430I'
_435i = '435I'
_440i = '440I'
_5_series = '5 Series'
_525i = '525I'
_528i = '528I'
_530i = '530I'
_535i = '535I'
_545i = '545I'
_550i = '550I'
_6_series = '6 Series'
_640i = '640I'
_645i = '645I'
_650i = '650I'
_7_series = '7 Series'
_740i = '740I'
_745i = '745I'
_750i = '750I'
_760i = '760I'
_840i = '840I'
ACTHY3 = 'ACTHY3'
ACTHY5 = 'ACTHY5'
ALP_B6 = 'B6'
ALP_B7 = 'B7'
I3 = 'I3'
I8 = 'I8'
K1200 = 'K1200'
M2 = 'M2'
M235I = 'M235I'
M240I = 'M240I'
M3 = 'M3'
M4 = 'M4'
M5 = 'M5'
M550I = 'M550I'
M6 = 'M6'
X1 = 'X1'
X3 = 'X3'
X4 = 'X4'
X5 = 'X5'
X6 = 'X6'
Z3 = 'Z3'
Z4 = 'Z4'

model = _128i

In [6]:
model_list = [_128i, _135i, _228i, _230i, _3_series, _318, _320i,
             _323i, _325i, _328i, _330i, _335i, _340i, _4_series,
             _428i, _430i, _435i, _440i, _5_series, _525i, _528i,
             _530i, _535i, _545i, _550i, _6_series, _640i, _645i,
             _650i, _7_series, _740i, _745i, _750i, _760i, _840i,
             ACTHY3, ACTHY5, ALP_B6, ALP_B7, I3, I8, K1200, M2,
             M235I, M240I, M3, M4, M5, M550I, M6, X1, X3,
             X4, X5, X6, Z3, Z4]

In [7]:
df.head()

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,MAA,2013,BLUE,BMW,740LI XDR,4DSN,A,47357,39,1,20900,2019-06-28
1,MAA,2017,SILVER,BMW,430I XDRIVE CPE,2DCP,A,22870,45,1,26000,2019-06-28
2,MAA,2017,BLUE,BMW,X3 35I XDRIVE,SUV,A,39856,43,5,29250,2019-06-28
3,MAA,2016,SILVER,BMW,X5 35I XDRIVE,SUV,A,23606,44,8,35500,2019-06-28
4,MAA,2007,BLUE,BMW,X5 4.8L,4CUV,A,65653,36,1,8700,2019-06-28

In [8]:
df.loc[df.model.str.contains(model.lower(), case = False), 'model']= model

In [9]:
for model in model_list:
    df.loc[df.model.str.contains(model.lower(), case = False), 'model']= model

In [10]:
df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,MAA,2013,BLUE,BMW,740LI XDR,4DSN,A,47357,39,1,20900,2019-06-28
1,MAA,2017,SILVER,BMW,430I,2DCP,A,22870,45,1,26000,2019-06-28
2,MAA,2017,BLUE,BMW,X3,SUV,A,39856,43,5,29250,2019-06-28
3,MAA,2016,SILVER,BMW,X5,SUV,A,23606,44,8,35500,2019-06-28
4,MAA,2007,BLUE,BMW,X5,4CUV,A,65653,36,1,8700,2019-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...
79693,MAA,2015,SPCEGREY,BMW,535I,4DSN,A,45570,44,2,23750,2019-06-28
79694,MAA,2009,BLUE,BMW,X5,4CUV,A,140949,43,2,6900,2019-06-28
79695,MAA,2017,GREY,BMW,430I,2DCV,A,28544,45,3,37000,2019-06-28
79696,MAA,2016,GREY,BMW,528I,4DSN,A,29888,47,7,25750,2019-06-28
79697,MAA,2016,BLUE,BMW,320I,4DSN,A,7235,46,3,22500,2019-06-28

In [11]:

df.to_csv('..\WHUPL\Output\BMW_models_clean.csv', index=False, header=True)

<h1> Audi <h1>

In [12]:
audi_df = pd.read_csv('..\WHUPL\Output\Audi.csv')
audi_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,KEYA,2010,WHITE,AUDI,Q5,3.2L,4SUV,6G,A,82069,27,4,5055437,12100,2017-01-02
1,AREN,2016,WHITE,AUDI,A5,PREMIUM,2DCP,4GT,A,5192,44,2,4905416,33400,2017-01-02
2,AREN,2014,BLACK,AUDI,Q7,SLINE PRST,SUV,6G,A,29864,27,3,4905414,38000,2017-01-02
3,GOAA,2014,WHITE,AUDI,A4 FWD,PREMIUM +,4DSN,4GT,A,56321,41,2,4905415,18900,2017-01-02
4,GOAA,2014,WHITE,AUDI,A7,3.0 PRES,4DHB,6G,A,34370,37,1,4905415,37000,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50054,PXAA,2017,WHITE,AUDI,A4 AWD,PREMIUM,4DSN,4GT,A,29290,44,2,4971507,20500,2019-06-29
50055,PXAA,2016,BLACK,AUDI,A4 FWD,PREMIUM,4DSN,4GT,A,40438,45,1,4905414,16800,2019-06-29
50056,PXAA,2015,BROWN,AUDI,A5,PRESTIGE,2DCP,4GT,A,13253,40,1,4905414,23500,2019-06-29
50057,PXAA,2015,BLACK,AUDI,Q5 4C,PREMIUM +,SUV,4ET,A,43508,46,1,4905414,19500,2019-06-30
50058,MAA,2016,BLACK,AUDI,A6 AWD 4C,PREMIUM +,4DSN,4GT,A,36153,39,1,4905415,22200,2019-06-30

In [13]:
audi_df = audi_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
audi_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,KEYA,2010,WHITE,AUDI,Q5,4SUV,A,82069,27,4,12100,2017-01-02
1,AREN,2016,WHITE,AUDI,A5,2DCP,A,5192,44,2,33400,2017-01-02
2,AREN,2014,BLACK,AUDI,Q7,SUV,A,29864,27,3,38000,2017-01-02
3,GOAA,2014,WHITE,AUDI,A4 FWD,4DSN,A,56321,41,2,18900,2017-01-02
4,GOAA,2014,WHITE,AUDI,A7,4DHB,A,34370,37,1,37000,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
50054,PXAA,2017,WHITE,AUDI,A4 AWD,4DSN,A,29290,44,2,20500,2019-06-29
50055,PXAA,2016,BLACK,AUDI,A4 FWD,4DSN,A,40438,45,1,16800,2019-06-29
50056,PXAA,2015,BROWN,AUDI,A5,2DCP,A,13253,40,1,23500,2019-06-29
50057,PXAA,2015,BLACK,AUDI,Q5 4C,SUV,A,43508,46,1,19500,2019-06-30
50058,MAA,2016,BLACK,AUDI,A6 AWD 4C,4DSN,A,36153,39,1,22200,2019-06-30

In [14]:
audi_models = audi_df.describe(include = 'all').loc['unique', :]
audi_m = []
for i in audi_df['model'].unique():
    audi_m.append(i)
    
audi_m.sort()
print(audi_m)

['100', '90', 'A3', 'A3 1.4T E-TRON', 'A3 1.8T', 'A3 2.0T', 'A3 2.0T PREM', 'A3 2.0T QTRO', 'A3 AWD', 'A3 AWD 4C', 'A3 AWD 4C CNVRT', 'A3 AWD V6', 'A3 E-TRON', 'A3 FWD', 'A3 FWD 4C', 'A3 PRM', 'A3 TDI', 'A4', 'A4 - PREMIUM', 'A4 2.0T', 'A4 2.0T PREM', 'A4 2.0T QTRO', 'A4 4C', 'A4 ALLROAD', 'A4 AWD', 'A4 AWD 4C', 'A4 AWD PREMIUM', 'A4 AWD S LINE', 'A4 AWD V6', 'A4 FWD', 'A4 FWD 4C', 'A4 FWD V6', 'A4 KOMFORT +4DR', 'A4 SEDAN', 'A5', 'A5 2.0T PRES', 'A5 2.0T PRM', 'A5 2.0T QTRO', 'A5 3.0T QTRO', 'A5 AWD', 'A5 AWD 4C', 'A5 AWD CABRIO', 'A5 AWD V6', 'A5 CABRIO', 'A5 FWD', 'A5 FWD 4C', 'A6', 'A6 2.0T PRM', 'A6 2.0T QTRO', 'A6 3.0T PREM+', 'A6 3.0T QTRO', 'A6 AWD 4C', 'A6 AWD V6', 'A6 AWD V8', 'A6 FWD 4C', 'A6 FWD V6', 'A6 PRM+', 'A6 TDI QTRO', 'A6 V6', 'A7', 'A7 3.0 PREM+', 'A7 3.0T QTRO', 'A7 PRESTIGE', 'A7 TDI QTRO', 'A8', 'A8 AWD', 'A8 AWD V6', 'A8 AWD V8', 'A8 L', 'A8 L 4.0T QTRO', 'A8 L V12', 'A8 L V6', 'A8 L V8', 'A8 V6', 'A8 V8', 'A8L 3.0T PREM', 'ALLRD 2.0T QTRO', 'ALLROAD', 'CABRIOLET', 'Q3', 'Q3 2.0T', 'Q3 2.0T QTRO', 'Q3 AWD', 'Q3 FWD', 'Q5', 'Q5 2.0T QTRO', 'Q5 3.0T PREM+', 'Q5 3.0T QTRO', 'Q5 3.2L QTRO', 'Q5 4C', 'Q5 TDI QTRO', 'Q5 V6', 'Q7', 'Q7 3.0L PRM', 'Q7 3.0T PRM', 'Q7 3.0T PRM +', 'Q7 3.0T QTRO', 'Q7 3.0TD', 'Q7 3.0TD PRES', 'Q7 3.0TD PRM', 'Q7 3.0TD PRM+', 'Q7 3.6L QTRO', 'Q7 4C', 'Q7 PRM+ QUATTRO', 'Q7 S-LINE', 'Q7 TDI', 'Q7 TDI QTRO', 'Q7 V6', 'Q7 V8', 'Q8', 'R8', 'R8 5.2L QTRO', 'R8 AWD', 'R8 V10', 'R8 V8', 'RS 5', 'RS 5 COUPE', 'RS 7', 'RS 7 4.0T QTRO', 'S3', 'S3 2.0T QTRO', 'S3 AWD 4C', 'S3 PRM +', 'S4', 'S4 3.0T QTRO', 'S5', 'S5 3.0T QTRO', 'S5 CABRIO', 'S5 V6', 'S5 V8', 'S6', 'S6 PRES', 'S7', 'S7 4.0T PRES', 'S8', 'S8 4.0T QTRO', 'SQ5', 'SQ5 3.0T PREM+', 'SQ5 3.0T PRM', 'SQ5 3.0T QTRO', 'TT', 'TT 2.0T', 'TT AWD', 'TT AWD 4C', 'TT AWD V6', 'TT CABRIO', 'TT FWD 4C', 'TT RS', 'TT RS AWD', 'TTS', 'TTS AWD']

In [15]:
_100 = '100'
_90 = '90'
_A3 = 'A3'
_A4 = 'A4'
_A5 = 'A5'
_A6 = 'A6'
_A7 = 'A7'
_A8_v6 = 'A8 V6'
_A8_v8 = 'A8 V8'
_cabriolet = 'CABRIOLET'
_Q3 = 'Q3'
_Q5 = 'Q5'
_Q7 = 'Q7'
_R8 = 'R8'
_R8_V10 = 'R8 V10'
_R8_V8 = 'R8 V8'
_RS_5 = 'RS 5'
_RS_7 = 'RS 7'
_S3 = 'S3'
_S4 = 'S4'
_S5 = 'S5'
_S6 = 'S6'
_S7 = 'S7'
_S8 = 'S8'
_SQ5 = 'SQ5'
_TT = 'TT'
_TTS = 'TTS'
audi_model = _R8

In [16]:
audi_model_list = [_100,
_90,
_A3,
_A4,
_A5,
_A6,
_A7,
_A8_v6,
_A8_v8,
_cabriolet,
_Q3,
_Q5,
_Q7,
_R8,
_R8_V10,
_R8_V8,
_RS_5,
_RS_7,
_S3,
_S4,
_S5,
_S6,
_S7,
_S8,
_SQ5,
_TT,
_TTS]

In [17]:
audi_df.loc[audi_df.model.str.contains(audi_model.lower(), case = False), 'model']= audi_model

In [18]:
for audi_model in audi_model_list:
    audi_df.loc[audi_df.model.str.contains(audi_model.lower(), case = False), 'model']= audi_model

In [19]:
audi_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,KEYA,2010,WHITE,AUDI,Q5,4SUV,A,82069,27,4,12100,2017-01-02
1,AREN,2016,WHITE,AUDI,A5,2DCP,A,5192,44,2,33400,2017-01-02
2,AREN,2014,BLACK,AUDI,Q7,SUV,A,29864,27,3,38000,2017-01-02
3,GOAA,2014,WHITE,AUDI,A4,4DSN,A,56321,41,2,18900,2017-01-02
4,GOAA,2014,WHITE,AUDI,A7,4DHB,A,34370,37,1,37000,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
50054,PXAA,2017,WHITE,AUDI,A4,4DSN,A,29290,44,2,20500,2019-06-29
50055,PXAA,2016,BLACK,AUDI,A4,4DSN,A,40438,45,1,16800,2019-06-29
50056,PXAA,2015,BROWN,AUDI,A5,2DCP,A,13253,40,1,23500,2019-06-29
50057,PXAA,2015,BLACK,AUDI,Q5,SUV,A,43508,46,1,19500,2019-06-30
50058,MAA,2016,BLACK,AUDI,A6,4DSN,A,36153,39,1,22200,2019-06-30

In [20]:
audi_df.to_csv('..\WHUPL\Output\Audi_models_clean.csv', index=False, header=True)

In [21]:
acura_df = pd.read_csv('..\WHUPL\Output\Acura.csv')
acura_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,2005,SILVER,ACURA,MDX,TOURING,SUV,6G,A,182757,24,1,5362166,2400,2017-01-02
1,AYCA,2009,MAROON,ACURA,MDX,TECH PKG,SUV,6G,A,145063,36,4,5174895,8000,2017-01-02
2,AYCA,2001,GOLD,ACURA,MDX AWD,TOURING,SUV,6G,A,205796,13,1,5119237,1200,2017-01-02
3,GCAA,2014,WHITE,ACURA,RLX FWD,TECH PKG,4DSN,6G,A,41469,29,2,4905510,21000,2017-01-02
4,MAA,2014,GREY,ACURA,MDX AWD,TECH PKG,SUV,6G,A,31563,30,1,4905510,28300,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27474,MAA,2016,BLACK,ACURA,MDX FWD,W/TECH,SUV,6G,A,62648,28,1,4905510,20600,2019-06-28
27475,MAA,2016,BLACK,ACURA,MDX AWD,W/TECH,SUV,6G,A,13261,35,2,4905510,26600,2019-06-28
27476,MAA,2016,WHITE,ACURA,ILX,TECH ASPEC,4DSN,4G,A,26116,32,1,4905510,16900,2019-06-28
27477,DALA,2015,SILVER,ACURA,TLX FWD V6,V6 TECH,4DSN,6G,A,69936,35,4,5017011,14000,2019-06-29
27478,MAA,2019,WHITE,ACURA,MDX AWD V6,TECH ASPEC,SUV,6G,A,5738,46,1,5167528,46300,2019-06-29

In [22]:
acura_df = acura_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
acura_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2005,SILVER,ACURA,MDX,SUV,A,182757,24,1,2400,2017-01-02
1,AYCA,2009,MAROON,ACURA,MDX,SUV,A,145063,36,4,8000,2017-01-02
2,AYCA,2001,GOLD,ACURA,MDX AWD,SUV,A,205796,13,1,1200,2017-01-02
3,GCAA,2014,WHITE,ACURA,RLX FWD,4DSN,A,41469,29,2,21000,2017-01-02
4,MAA,2014,GREY,ACURA,MDX AWD,SUV,A,31563,30,1,28300,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
27474,MAA,2016,BLACK,ACURA,MDX FWD,SUV,A,62648,28,1,20600,2019-06-28
27475,MAA,2016,BLACK,ACURA,MDX AWD,SUV,A,13261,35,2,26600,2019-06-28
27476,MAA,2016,WHITE,ACURA,ILX,4DSN,A,26116,32,1,16900,2019-06-28
27477,DALA,2015,SILVER,ACURA,TLX FWD V6,4DSN,A,69936,35,4,14000,2019-06-29
27478,MAA,2019,WHITE,ACURA,MDX AWD V6,SUV,A,5738,46,1,46300,2019-06-29

In [23]:
acura_models = acura_df.describe(include = 'all').loc['unique', :]
acura_m = []
for i in acura_df['model'].unique():
    acura_m.append(i)
    
acura_m.sort()
print(acura_m)

['2.5', '2.5 TL', '3.2', 'CL', 'CL 4C', 'CL V6', 'CSX', 'CSX TECH PKG', 'EL', 'ILX', 'ILX HY', 'INTEGRA', 'LEGEND', 'MDX', 'MDX 4X4', 'MDX ADV ENT', 'MDX AWD', 'MDX AWD V6', 'MDX FWD', 'MDX FWD V6', 'MMD AWD V6', 'RDX', 'RDX AWD', 'RDX FWD', 'RL', 'RLX', 'RLX AWD', 'RLX AWD HYBRID', 'RLX FWD', 'RSX', 'SLX', 'TL', 'TL 5C', 'TL AWD V6', 'TL FWD V6', 'TL V6', 'TLX AWD V6', 'TLX FWD 4C', 'TLX FWD V6', 'TSX', 'TSX 4C', 'TSX FWD', 'TSX FWD 4C', 'TSX FWD V6', 'TSX SPT WGN', 'TSX SPT WGN 4C', 'VIGOR', 'ZDX']

In [24]:
_2_5 = '2.5'
_3_2 = '3.2'
_CL = 'CL'
_CSX = 'CSX'
_ILX = 'ILX'
_MDX = 'MDX'
_RDX = 'RDX'
_RLX = 'RLX'
_TL = 'TL'
_TLX = 'TLX'
_TSX = 'TSX'

acura_model = _RDX

In [25]:
acura_model_list = [_2_5,
_3_2,
_CL,
_CSX,
_ILX,
_MDX,
_RDX,
_RLX,
_TL,
_TLX,
_TSX]

In [26]:
acura_df.loc[acura_df.model.str.contains(acura_model.lower(), case = False), 'model']= acura_model

In [27]:
for acura_model in acura_model_list:
    acura_df.loc[acura_df.model.str.contains(acura_model.lower(), case = False), 'model']= acura_model

In [28]:
acura_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2005,SILVER,ACURA,MDX,SUV,A,182757,24,1,2400,2017-01-02
1,AYCA,2009,MAROON,ACURA,MDX,SUV,A,145063,36,4,8000,2017-01-02
2,AYCA,2001,GOLD,ACURA,MDX,SUV,A,205796,13,1,1200,2017-01-02
3,GCAA,2014,WHITE,ACURA,RLX,4DSN,A,41469,29,2,21000,2017-01-02
4,MAA,2014,GREY,ACURA,MDX,SUV,A,31563,30,1,28300,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
27474,MAA,2016,BLACK,ACURA,MDX,SUV,A,62648,28,1,20600,2019-06-28
27475,MAA,2016,BLACK,ACURA,MDX,SUV,A,13261,35,2,26600,2019-06-28
27476,MAA,2016,WHITE,ACURA,ILX,4DSN,A,26116,32,1,16900,2019-06-28
27477,DALA,2015,SILVER,ACURA,TL,4DSN,A,69936,35,4,14000,2019-06-29
27478,MAA,2019,WHITE,ACURA,MDX,SUV,A,5738,46,1,46300,2019-06-29

In [29]:
acura_df.to_csv('..\WHUPL\Output\Acura_models_clean.csv', index=False, header=True)

<h1>Hyundai,title<h1>

In [30]:
hyundai_df = pd.read_csv('..\WHUPL\Output\Hyundai.csv')
hyundai_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,NADE,2017,TAN,HYUNDAI,ELANTRA,SE,4DSN,4G,A,29780,42,1,4905944,11400,2019-06-29
1,NASH,2016,RED,HYUNDAI,ELANTRA,SE,4DSN,4G,A,53093,23,1,4905944,7600,2019-06-29
2,NASH,2017,GRAY,HYUNDAI,ELANTRA,SE,4DSN,4G,A,35914,27,2,4905944,9700,2019-06-29
3,NASH,2017,GRAY,HYUNDAI,ELANTRA,SE,4DSN,4G,A,30671,29,1,4905944,11000,2019-06-29
4,WPBA,2017,BLACK,HYUNDAI,SANTA FE FWD,SE,SUV,6G,A,36270,45,3,4905944,20800,2019-06-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75928,MAA,2017,BLUE,HYUNDAI,SANTA SP AWD 4C,2.4L,SUV,4G,A,36034,26,1,4905944,14500,2019-06-28
75929,MAA,2016,BLACK,HYUNDAI,SONATA,2.4L LTD,4DSN,4G,A,37178,24,1,4905944,13900,2019-06-28
75930,MAA,2017,WHITE,HYUNDAI,SANTA SP AWD 4C,2.4L,SUV,4G,A,31744,38,2,4905944,17400,2019-06-28
75931,MAA,2016,WHITE,HYUNDAI,ACCENT,SE,4DSN,4G,A,64193,27,1,4905943,4800,2019-06-28
75932,MAA,2013,SILVER,HYUNDAI,SONATA,LIMITED,4DSN,4GT,A,93514,10,1,4905687,4800,2019-06-28

In [31]:
hyundai_df = hyundai_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
hyundai_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,NADE,2017,TAN,HYUNDAI,ELANTRA,4DSN,A,29780,42,1,11400,2019-06-29
1,NASH,2016,RED,HYUNDAI,ELANTRA,4DSN,A,53093,23,1,7600,2019-06-29
2,NASH,2017,GRAY,HYUNDAI,ELANTRA,4DSN,A,35914,27,2,9700,2019-06-29
3,NASH,2017,GRAY,HYUNDAI,ELANTRA,4DSN,A,30671,29,1,11000,2019-06-29
4,WPBA,2017,BLACK,HYUNDAI,SANTA FE FWD,SUV,A,36270,45,3,20800,2019-06-29
...,...,...,...,...,...,...,...,...,...,...,...,...
75928,MAA,2017,BLUE,HYUNDAI,SANTA SP AWD 4C,SUV,A,36034,26,1,14500,2019-06-28
75929,MAA,2016,BLACK,HYUNDAI,SONATA,4DSN,A,37178,24,1,13900,2019-06-28
75930,MAA,2017,WHITE,HYUNDAI,SANTA SP AWD 4C,SUV,A,31744,38,2,17400,2019-06-28
75931,MAA,2016,WHITE,HYUNDAI,ACCENT,4DSN,A,64193,27,1,4800,2019-06-28
75932,MAA,2013,SILVER,HYUNDAI,SONATA,4DSN,A,93514,10,1,4800,2019-06-28

In [32]:
hyundai_models = hyundai_df.describe(include = 'all').loc['unique', :]
hyundai_m = []
for i in hyundai_df['model'].unique():
    hyundai_m.append(i)
    
hyundai_m.sort()
print(hyundai_m)

['ACCENT', 'ACCENT GLS', 'ACCENT VALUE', 'AZERA', 'BRIO', 'ELAN SE', 'ELAN TRG', 'ELANTRA', 'ELANTRA - LI', 'ELANTRA GT', 'ELANTRA M/T', 'ELANTRA SEL', 'ENTOURAGE', 'EQUUS', 'GENESIS', 'GENESIS 4C', 'GENESIS 4X2', 'GENESIS 4X2 V6', 'GENESIS 4X2 V8', 'GENESIS AWD', 'GENESIS AWD V6', 'GENESIS COUP', 'GENESIS RWD V6', 'GENESIS V6', 'GENESIS V8', 'IONIQ', 'IONIQ ELECTRIC', 'IONIQ PLUG-IN', 'KONA AWD 4C', 'KONA FWD 4C', 'SANTA FE', 'SANTA FE 4C', 'SANTA FE 4X4 V6', 'SANTA FE AWD', 'SANTA FE AWD 4C', 'SANTA FE AWD V6', 'SANTA FE FWD', 'SANTA FE FWD 4C', 'SANTA FE FWD V6', 'SANTA FE LTD', 'SANTA FE ULT 4C', 'SANTA FE V6', 'SANTA FE XL', 'SANTA FE XL AWD', 'SANTA FE XL FWD', 'SANTA SP 4C', 'SANTA SP AWD', 'SANTA SP AWD 4C', 'SANTA SP FWD', 'SANTA SP FWD 4C', 'SANTE FE', 'SONATA', 'SONATA - LIM', 'SONATA 2.0', 'SONATA 2.0T', 'SONATA 4C', 'SONATA HY', 'SONATA HYBRID', 'SONATA LTD', 'SONATA SE', 'SONATA SEL', 'SONATA V6', 'TIBURON', 'TIBURON 4C', 'TIBURON V6', 'TUCSON', 'TUCSON - GLS', 'TUCSON 4C', 'TUCSON 4X4 4C', 'TUCSON 4X4 V6', 'TUCSON AWD', 'TUCSON AWD 4', 'TUCSON AWD 4C', 'TUCSON AWD LUX', 'TUCSON FWD', 'TUCSON FWD 4', 'TUCSON FWD 4C', 'TUCSON FWD 6C', 'TUCSON FWD V6', 'TUCSON SPT 4C', 'TUCSON V6', 'TUCSON VALUE', 'VELOSTER', 'VELOSTER DCT', 'VELOSTER M/T', 'VELOSTER ULT', 'VERACRUZ AWD', 'VERACRUZ FWD', 'XG300', 'XG350']

In [33]:
_accent = 'ACCENT'
_elan = 'ELAN'
_elantra = 'ELANTRA'
_genesis = 'GENESIS'
_ioniq = 'IONIQ'
_kona = 'KONA'
_santa_fe = 'SANTA FE'
_santa_sp = 'SANTA SP'
_sonata = 'SONATA'
_tiburon = 'TIBURON'
_tucson = 'TUCSON'
_veloster = 'VELOSTER'
_veracruz = 'VERACRUZ'

hyundai_model = _accent

In [34]:
hyundai_model_list = [_accent,
_elan,
_elantra,
_genesis,
_ioniq,
_kona,
_santa_fe,
_santa_sp,
_sonata,
_tiburon,
_tucson,
_veloster,
_veracruz]

In [35]:
for hyundai_model in hyundai_model_list:
    hyundai_df.loc[hyundai_df.model.str.contains(hyundai_model.lower(), case = False), 'model']= hyundai_model

In [36]:
hyundai_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,NADE,2017,TAN,HYUNDAI,ELAN,4DSN,A,29780,42,1,11400,2019-06-29
1,NASH,2016,RED,HYUNDAI,ELAN,4DSN,A,53093,23,1,7600,2019-06-29
2,NASH,2017,GRAY,HYUNDAI,ELAN,4DSN,A,35914,27,2,9700,2019-06-29
3,NASH,2017,GRAY,HYUNDAI,ELAN,4DSN,A,30671,29,1,11000,2019-06-29
4,WPBA,2017,BLACK,HYUNDAI,SANTA FE,SUV,A,36270,45,3,20800,2019-06-29
...,...,...,...,...,...,...,...,...,...,...,...,...
75928,MAA,2017,BLUE,HYUNDAI,SANTA SP,SUV,A,36034,26,1,14500,2019-06-28
75929,MAA,2016,BLACK,HYUNDAI,SONATA,4DSN,A,37178,24,1,13900,2019-06-28
75930,MAA,2017,WHITE,HYUNDAI,SANTA SP,SUV,A,31744,38,2,17400,2019-06-28
75931,MAA,2016,WHITE,HYUNDAI,ACCENT,4DSN,A,64193,27,1,4800,2019-06-28
75932,MAA,2013,SILVER,HYUNDAI,SONATA,4DSN,A,93514,10,1,4800,2019-06-28

In [37]:
hyundai_df.to_csv('..\WHUPL\Output\Hyundai_models_clean.csv', index=False, header=True)

<h1>Honda<h1>

In [38]:
honda_df = pd.read_csv('..\WHUPL\Output\Honda.csv')
honda_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,1999,BLACK,HONDA,ACCORD V6,EX,2DCP,6G,A,218099,21,2,5303501,300,2017-01-02
1,AYCA,2009,SILVER,HONDA,CIVIC,EX,4DSN,4G,5,58860,31,1,4925422,7200,2017-01-02
2,AYCA,2006,MAROON,HONDA,CR-V 4X4,EX,SUV,4G,A,230780,29,1,5221919,2100,2017-01-02
3,KEYA,2007,RED,HONDA,CR-V 4X4,EX-L,SUV,4G,A,151014,17,1,5055437,4560,2017-01-02
4,AAA,2010,BLACK,HONDA,CIVIC,EX,2DCP,4G,A,124924,28,3,5278005,4500,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79917,FAAO,2018,SILVER,HONDA,CIVIC,LX,4DSN,4G,A,18367,50,1,5009681,15700,2019-06-29
79918,SPAA,2009,WHITE,HONDA,ACCORD V6,EX-L,4DSN,6G,A,138834,31,2,5057308,4000,2019-06-29
79919,NADE,2016,SILVER,HONDA,ODYSSEY,EX-L,VAN,6G,A,45036,39,2,4912530,21200,2019-06-29
79920,MAA,2016,GREY,HONDA,ODYSSEY,EX-L,VAN,6G,A,23584,44,1,4902052,25300,2019-06-29
79921,SSAA,2011,BLUE,HONDA,PILOT 4X4,LX,4SUV,6G,A,86196,26,1,4918814,10805,2019-06-30

In [39]:
honda_df = honda_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
honda_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,1999,BLACK,HONDA,ACCORD V6,2DCP,A,218099,21,2,300,2017-01-02
1,AYCA,2009,SILVER,HONDA,CIVIC,4DSN,5,58860,31,1,7200,2017-01-02
2,AYCA,2006,MAROON,HONDA,CR-V 4X4,SUV,A,230780,29,1,2100,2017-01-02
3,KEYA,2007,RED,HONDA,CR-V 4X4,SUV,A,151014,17,1,4560,2017-01-02
4,AAA,2010,BLACK,HONDA,CIVIC,2DCP,A,124924,28,3,4500,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
79917,FAAO,2018,SILVER,HONDA,CIVIC,4DSN,A,18367,50,1,15700,2019-06-29
79918,SPAA,2009,WHITE,HONDA,ACCORD V6,4DSN,A,138834,31,2,4000,2019-06-29
79919,NADE,2016,SILVER,HONDA,ODYSSEY,VAN,A,45036,39,2,21200,2019-06-29
79920,MAA,2016,GREY,HONDA,ODYSSEY,VAN,A,23584,44,1,25300,2019-06-29
79921,SSAA,2011,BLUE,HONDA,PILOT 4X4,4SUV,A,86196,26,1,10805,2019-06-30

In [40]:
honda_models = honda_df.describe(include = 'all').loc['unique', :]
honda_m = []
for i in honda_df['model'].unique():
    honda_m.append(i)
    
honda_m.sort()
print(honda_m)

['650', 'ACCORD', 'ACCORD 4C', 'ACCORD 4C HY', 'ACCORD EX HY', 'ACCORD HY', 'ACCORD HY PLUG', 'ACCORD HY TRG', 'ACCORD HYBRID', 'ACCORD V6', 'ACRD X TOUR 4X4', 'ACRD X TOUR FWD', 'CBR1000', 'CBR250R', 'CBR300RAG (A', 'CBR500RD', 'CBR600RR', 'CBR600RRC', 'CBR650F ABS', 'CIVIC', 'CIVIC - EX', 'CIVIC DEL SOL', 'CIVIC DX', 'CIVIC FWD', 'CIVIC LX', 'CIVIC SI', 'CIVIC TYPE R', 'CLARITY PLUG-IN', 'CR-V', 'CR-V 4X4', 'CR-V AWD', 'CR-V AWD 4C', 'CR-V FWD', 'CR-V FWD 4C', 'CR-Z', 'CR-Z HY', 'CROSSTR 4C', 'CROSSTR 4X4 V6', 'CROSSTR FWD 4C', 'CROSSTR FWD V6', 'CRV', 'CTX130', 'CTX700E', 'ELEMENT 4X4', 'ELEMENT FWD', 'FIT', 'FIT SPT', 'GL18HPMC', 'GOLD WING', 'HONDA GL 1800', 'HR-V AWD', 'HR-V FWD', 'INSIGHT', 'INSIGHT HY', 'ODYSSEY', 'ODYSSEY TRG', 'PASSPORT 4X2', 'PASSPORT 4X2 V6', 'PASSPORT 4X4', 'PASSPORT 4X4 V6', 'PILOT', 'PILOT 4X4', 'PILOT AWD', 'PILOT FWD', 'PILOT HANDICAP', 'PRELUDE', 'RIDGELIN 4X4 CR', 'RIDGELIN AWD CR', 'RIDGELIN FWD CR', 'S2000', 'SHADOW SPIRIT', 'ST1300', 'VFR800A8 INT', 'VT1100C3', 'VT1300CX/ FURY', 'VT750C2B/SHADOW', 'VTR1000F', 'VTX']

In [41]:
_650 = '650'
_accord = 'ACCORD'
_civic = 'CIVIC'
_cr_v = 'CR-V'
_crosstr = 'CROSSTR'
_element = 'ELEMENT'
_fit = 'FIT'
_hr_v = 'HR-V'
_odyssey = 'ODYSSEY'
_passport = 'PASSPORT'
_pilot = 'PILOT'
_ridgelin = 'RIDGELIN'


honda_model = _accord

In [42]:
honda_model_list = [_650,
_accord,
_civic,
_cr_v,
_crosstr,
_element,
_fit,
_hr_v,
_odyssey,
_passport,
_pilot,
_ridgelin]

In [43]:
for honda_model in honda_model_list:
    honda_df.loc[honda_df.model.str.contains(honda_model.lower(), case = False), 'model']= honda_model

In [44]:
honda_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,1999,BLACK,HONDA,ACCORD,2DCP,A,218099,21,2,300,2017-01-02
1,AYCA,2009,SILVER,HONDA,CIVIC,4DSN,5,58860,31,1,7200,2017-01-02
2,AYCA,2006,MAROON,HONDA,CR-V,SUV,A,230780,29,1,2100,2017-01-02
3,KEYA,2007,RED,HONDA,CR-V,SUV,A,151014,17,1,4560,2017-01-02
4,AAA,2010,BLACK,HONDA,CIVIC,2DCP,A,124924,28,3,4500,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
79917,FAAO,2018,SILVER,HONDA,CIVIC,4DSN,A,18367,50,1,15700,2019-06-29
79918,SPAA,2009,WHITE,HONDA,ACCORD,4DSN,A,138834,31,2,4000,2019-06-29
79919,NADE,2016,SILVER,HONDA,ODYSSEY,VAN,A,45036,39,2,21200,2019-06-29
79920,MAA,2016,GREY,HONDA,ODYSSEY,VAN,A,23584,44,1,25300,2019-06-29
79921,SSAA,2011,BLUE,HONDA,PILOT,4SUV,A,86196,26,1,10805,2019-06-30

In [45]:
honda_df.to_csv('..\WHUPL\Output\Honda_models_clean.csv', index=False, header=True)

<h1>Land Rover<h1>

In [46]:
land_rover_df = pd.read_csv('..\WHUPL\Output\Land_Rover.csv')
land_rover_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,MAA,2012,BLUE,LANDROVER,LR4 LUX,LUX,4SUV,8G,A,47847,31,4,5321988,31250,2017-01-02
1,NADE,2012,SILVER,LANDROVER,RR HSE,HSE,4SUV,8G,A,51691,37,3,4996436,31300,2017-01-02
2,FAAO,2014,WHITE,LANDROVER,RANGE R SPT V6,SE,SUV,6ET,A,31977,42,1,4910280,51000,2017-01-03
3,FAAO,2006,SILVER,LANDROVER,RANGE ROVER,HSE,4SUV,8G,A,132829,43,1,4910280,7600,2017-01-03
4,FAAO,2007,SILVER,LANDROVER,RANGE ROVER,HSE,4CUV,8G,A,137400,0,3,4905200,4500,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,MAA,2018,BLACK,LANDROVER,RANGE R EVOQUE,SE PREMIUM,5DHB,4GT,A,25723,33,3,4919311,28400,2019-06-28
45285,FAAO,2016,GRAY,LANDROVER,RANGE ROVER V6,HSE,SUV,6G,A,10197,49,3,5000730,56000,2019-06-29
45286,THAA,2016,GRAY,LANDROVER,RANGE R SPT V6,V6 SE,SUV,6G,A,19219,50,4,5224991,41990,2019-06-30
45287,FAAO,2019,WHITE,LANDROVER,RANGE ROVER V6,HSE,SUV,6G,A,7518,46,2,4910984,88100,2019-06-30
45288,MAA,2013,BLACK,LANDROVER,RANGE R SPT,HSE,SUV,8CY,A,88046,39,1,5216574,17200,2019-06-30

In [47]:
land_rover_df = land_rover_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
land_rover_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,MAA,2012,BLUE,LANDROVER,LR4 LUX,4SUV,A,47847,31,4,31250,2017-01-02
1,NADE,2012,SILVER,LANDROVER,RR HSE,4SUV,A,51691,37,3,31300,2017-01-02
2,FAAO,2014,WHITE,LANDROVER,RANGE R SPT V6,SUV,A,31977,42,1,51000,2017-01-03
3,FAAO,2006,SILVER,LANDROVER,RANGE ROVER,4SUV,A,132829,43,1,7600,2017-01-03
4,FAAO,2007,SILVER,LANDROVER,RANGE ROVER,4CUV,A,137400,0,3,4500,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
45284,MAA,2018,BLACK,LANDROVER,RANGE R EVOQUE,5DHB,A,25723,33,3,28400,2019-06-28
45285,FAAO,2016,GRAY,LANDROVER,RANGE ROVER V6,SUV,A,10197,49,3,56000,2019-06-29
45286,THAA,2016,GRAY,LANDROVER,RANGE R SPT V6,SUV,A,19219,50,4,41990,2019-06-30
45287,FAAO,2019,WHITE,LANDROVER,RANGE ROVER V6,SUV,A,7518,46,2,88100,2019-06-30
45288,MAA,2013,BLACK,LANDROVER,RANGE R SPT,SUV,A,88046,39,1,17200,2019-06-30

In [48]:
land_rover_models = land_rover_df.describe(include = 'all').loc['unique', :]
land_rover_m = []
for i in land_rover_df['model'].unique():
    land_rover_m.append(i)
    
land_rover_m.sort()
print(land_rover_m)

['3.5L V8', 'DEFENDER', 'DISCOVERY', 'DISCOVERY LE', 'DISCOVERY LSE', 'DISCOVERY SD', 'DISCOVERY SE', 'DISCOVERY SE7', 'DISCOVERY SPORT', 'FREELANDER', 'FREELANDER AWD', 'LR2', 'LR2 HSE', 'LR2 HSE LUX', 'LR2 HSE TEC', 'LR3', 'LR3 BASE 5', 'LR3 BASE 7', 'LR3 HSE7', 'LR3 HSE7 LUX', 'LR3 V6', 'LR3 V8', 'LR4', 'LR4 4X4', 'LR4 BASE 5', 'LR4 BASE 7', 'LR4 HSE', 'LR4 HSE MET LE', 'LR4 HSE5', 'LR4 HSE5 PLU', 'LR4 HSE7', 'LR4 HSE7 LUX', 'LR4 HSE7 PLU', 'LR4 LUX', 'LR4 LUX LE', 'PREMIUM', 'R/R S/C LWB V8', 'RAN SPT HSE', 'RANG R VELAR 4C', 'RANG R VELAR V6', 'RANGE R EVOQUE', 'RANGE R SPT', 'RANGE R SPT V6', 'RANGE R SPT V8', 'RANGE ROVER', 'RANGE ROVER LWB', 'RANGE ROVER S/C', 'RANGE ROVER SE', 'RANGE ROVER SPO', 'RANGE ROVER V6', 'RANGE ROVER V8', 'RANGER EVOQUE', 'RR ATB', 'RR EVOQUE', 'RR HSE', 'RR HSE LUX', 'RR S/C', 'RR SC', 'RR SC ATB', 'RRE DYN PREM 3', 'RRE DYN PREM 5', 'RRE PRES PRM', 'RRE PURE PLU 3', 'RRE PURE PLU 5', 'RRE PURE PRM 3', 'RRE PURE PRM 5', 'RRS ATB', 'RRS GT', 'RRS HSE', 'RRS HSE LUX', 'RRS S/C', 'RRS SC', 'RVR HSE', 'V8 SC DYNAMIC']

In [49]:
_freelander = 'FREELANDER'
_lr2 = 'LR2'
_lr3 = 'LR3'
_lr4 = 'LR4'
_evoque = 'EVOQUE'
_hse = 'HSE'



land_rover_model = _lr2

In [50]:
land_rover_model_list = [_freelander,
_lr2,
_lr3,
_lr4,
_evoque,
_hse]

In [51]:
for land_rover_model in land_rover_model_list:
    land_rover_df.loc[land_rover_df.model.str.contains(land_rover_model.lower(), case = False), 'model']= land_rover_model

In [52]:
land_rover_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,MAA,2012,BLUE,LANDROVER,LR4,4SUV,A,47847,31,4,31250,2017-01-02
1,NADE,2012,SILVER,LANDROVER,HSE,4SUV,A,51691,37,3,31300,2017-01-02
2,FAAO,2014,WHITE,LANDROVER,RANGE R SPT V6,SUV,A,31977,42,1,51000,2017-01-03
3,FAAO,2006,SILVER,LANDROVER,RANGE ROVER,4SUV,A,132829,43,1,7600,2017-01-03
4,FAAO,2007,SILVER,LANDROVER,RANGE ROVER,4CUV,A,137400,0,3,4500,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
45284,MAA,2018,BLACK,LANDROVER,EVOQUE,5DHB,A,25723,33,3,28400,2019-06-28
45285,FAAO,2016,GRAY,LANDROVER,RANGE ROVER V6,SUV,A,10197,49,3,56000,2019-06-29
45286,THAA,2016,GRAY,LANDROVER,RANGE R SPT V6,SUV,A,19219,50,4,41990,2019-06-30
45287,FAAO,2019,WHITE,LANDROVER,RANGE ROVER V6,SUV,A,7518,46,2,88100,2019-06-30
45288,MAA,2013,BLACK,LANDROVER,RANGE R SPT,SUV,A,88046,39,1,17200,2019-06-30

In [53]:
land_rover_df.to_csv('..\WHUPL\Output\Land_Rover_models_clean.csv', index=False, header=True)

<h1>KIA<h1>

In [54]:
kia_df = pd.read_csv('..\WHUPL\Output\KIA.csv')
kia_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,NVAA,2018,BLUE,KIA,FORTE,S,4DSN,4G,A,2919,43,1,4918692,13800,2019-06-28
1,NVAA,2017,PURPLE,KIA,OPTIMA,LX,4DSN,4G,A,20406,41,1,4918691,13700,2019-06-28
2,NVAA,2015,SILVER,KIA,K900,PREMIUM,4DSN,8G,A,32080,40,1,4918692,19400,2019-06-28
3,NVAA,2015,BLACK,KIA,OPTIMA,LX,4DSN,4G,A,29990,38,1,4918691,11200,2019-06-28
4,NVAA,2017,GRAY,KIA,SORENTO AWD 4C,LX,SUV,4G,A,31797,36,2,4918691,14700,2019-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71254,WLNC,2013,RED,KIA,RIO,LX,4DSN,4G,A,37298,35,1,5040489,6000,2019-06-28
71255,WLNC,2016,WHITE,KIA,SORENTO AWD V6,LX,SUV,6G,A,50862,37,1,5387307,15400,2019-06-28
71256,NVAA,2017,WHITE,KIA,SOUL,BASE,5WGN,4G,A,35366,36,1,5439650,9500,2019-06-28
71257,NVAA,2016,BLACK,KIA,FORTE,LX,4DSN,4G,A,58128,28,1,4940603,8000,2019-06-28
71258,NVAA,2014,GRAY,KIA,SOUL,BASE,4WGN,4G,A,98977,29,1,4940603,5800,2019-06-28

In [55]:
kia_df = kia_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
kia_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,NVAA,2018,BLUE,KIA,FORTE,4DSN,A,2919,43,1,13800,2019-06-28
1,NVAA,2017,PURPLE,KIA,OPTIMA,4DSN,A,20406,41,1,13700,2019-06-28
2,NVAA,2015,SILVER,KIA,K900,4DSN,A,32080,40,1,19400,2019-06-28
3,NVAA,2015,BLACK,KIA,OPTIMA,4DSN,A,29990,38,1,11200,2019-06-28
4,NVAA,2017,GRAY,KIA,SORENTO AWD 4C,SUV,A,31797,36,2,14700,2019-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...
71254,WLNC,2013,RED,KIA,RIO,4DSN,A,37298,35,1,6000,2019-06-28
71255,WLNC,2016,WHITE,KIA,SORENTO AWD V6,SUV,A,50862,37,1,15400,2019-06-28
71256,NVAA,2017,WHITE,KIA,SOUL,5WGN,A,35366,36,1,9500,2019-06-28
71257,NVAA,2016,BLACK,KIA,FORTE,4DSN,A,58128,28,1,8000,2019-06-28
71258,NVAA,2014,GRAY,KIA,SOUL,4WGN,A,98977,29,1,5800,2019-06-28

In [56]:
kia_models = kia_df.describe(include = 'all').loc['unique', :]
kia_m = []
for i in kia_df['model'].unique():
    kia_m.append(i)
    
kia_m.sort()
print(kia_m)

['AMANTI', 'BORREGO 4X2 V6', 'BORREGO 4X2 V8', 'BORREGO 4X4 V6', 'BORREGO 4X4 V8', 'BORREGO V6', 'CADENZA', 'FORT', 'FORTE', 'FORTE - EX L', 'FORTE 5', 'FORTE EX AT', 'FORTE LX +', 'FORTE LX+MT', 'FORTE5', 'K900', 'K900 V6', 'K900 V8', 'NIRO', 'NIRO PLUG-IN', 'OPTIMA', 'OPTIMA 4C', 'OPTIMA SX LTD', 'OPTIMA V6', 'QUINTO', 'RIO', 'RIO 5', 'RIO LX', 'RIO LX + MT', 'RONDO', 'RONDO 4C', 'RONDO FWD 4C', 'RONDO FWD V6', 'RONDO V6', 'SADONA', 'SEDO', 'SEDONA', 'SEDONA LX', 'SEDONA LX PREM', 'SEDONA LX+ PREM', 'SEDONA LX+PREM', 'SEDONA PREM', 'SEPHIA', 'SOREN LX+ TURBO', 'SORENTO', 'SORENTO - SX', 'SORENTO 4C', 'SORENTO 4X2', 'SORENTO 4X2 V6', 'SORENTO 4X4', 'SORENTO 4X4 V6', 'SORENTO AWD', 'SORENTO AWD 4C', 'SORENTO AWD V6', 'SORENTO FWD', 'SORENTO FWD 4C', 'SORENTO FWD V6', 'SORENTO LX AWD', 'SORENTO V6', 'SOUL', 'SOUL EV', 'SOUL EX', 'SOUL EX+', 'SPECTRA', 'SPECTRA5', 'SPORTAGE', 'SPORTAGE     4C', 'SPORTAGE 4X2', 'SPORTAGE 4X2 4C', 'SPORTAGE 4X2 V6', 'SPORTAGE 4X4', 'SPORTAGE 4X4 4C', 'SPORTAGE 4X4 V6', 'SPORTAGE AWD', 'SPORTAGE AWD 4C', 'SPORTAGE AWD V6', 'SPORTAGE FWD', 'SPORTAGE FWD 4C', 'SPORTAGE FWD V6', 'SPORTAGE LX', 'SPORTAGE LX FWD', 'SPORTAGE V6', 'STINGER 4X2 4C', 'STINGER 4X2 V6', 'STINGER AWD 4C', 'STINGER AWD V6']

In [57]:
_forte = 'FORTE'
_niro = 'NIRO'
_optima = 'OPTIMA'
_rondo = 'RONDO'
_rio = 'RIO'
_sedona = 'SEDONA'
_sorento = 'SORENTO'
_soul = 'SOUL'
_spectra = 'SPECTRA'
_sportage = 'SPORTAGE'
_stinger = 'STINGER'



kia_model = _forte

In [58]:
kia_model_list = [_forte,
_niro,
_optima,
_rondo,
_rio,
_sedona,
_sorento,
_soul,
_spectra,
_sportage,
_stinger]

In [59]:
for kia_model in kia_model_list:
    kia_df.loc[kia_df.model.str.contains(kia_model.lower(), case = False), 'model']= kia_model

In [60]:
kia_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,NVAA,2018,BLUE,KIA,FORTE,4DSN,A,2919,43,1,13800,2019-06-28
1,NVAA,2017,PURPLE,KIA,OPTIMA,4DSN,A,20406,41,1,13700,2019-06-28
2,NVAA,2015,SILVER,KIA,K900,4DSN,A,32080,40,1,19400,2019-06-28
3,NVAA,2015,BLACK,KIA,OPTIMA,4DSN,A,29990,38,1,11200,2019-06-28
4,NVAA,2017,GRAY,KIA,SORENTO,SUV,A,31797,36,2,14700,2019-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...
71254,WLNC,2013,RED,KIA,RIO,4DSN,A,37298,35,1,6000,2019-06-28
71255,WLNC,2016,WHITE,KIA,SORENTO,SUV,A,50862,37,1,15400,2019-06-28
71256,NVAA,2017,WHITE,KIA,SOUL,5WGN,A,35366,36,1,9500,2019-06-28
71257,NVAA,2016,BLACK,KIA,FORTE,4DSN,A,58128,28,1,8000,2019-06-28
71258,NVAA,2014,GRAY,KIA,SOUL,4WGN,A,98977,29,1,5800,2019-06-28

In [61]:
kia_df.to_csv('..\WHUPL\Output\KIA_models_clean.csv', index=False, header=True)

<h1>Lexus<h1>

In [62]:
lexus_df = pd.read_csv('..\WHUPL\Output\Lexus.csv')
lexus_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AAA,2014,BLACK,LEXUS,GS 350 4X2,F SPORT,4DSN,6G,A,35508,34,7,4905686,26500,2017-01-02
1,BCAA,2015,WHITE,LEXUS,CT 200H,HYBRID,4DSN,4H,A,9869,33,1,4905686,20500,2017-01-02
2,BCAA,2014,TAN,LEXUS,ES 300H,HYBRID,4DSN,4H,A,23680,38,1,4905686,23500,2017-01-02
3,FAAO,2016,GRAY,LEXUS,RC 350 4X2,F SPORT,2DCP,6G,A,18586,43,3,4902618,37500,2017-01-02
4,FAAO,2014,WHITE,LEXUS,IS 350 4X2,F SPORT,4DSN,6G,A,26992,37,3,4905686,28100,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13016,MAA,2019,WHITE,LEXUS,GX,460 PREM,SUV,8G,A,3311,50,2,5372193,50750,2019-06-28
13017,MAA,2017,BLACK,LEXUS,RX AWD,RX 350,SUV,6G,A,47835,44,1,5409800,32750,2019-06-28
13018,MAA,2017,WHITE,LEXUS,RX AWD,RX 350,SUV,6G,A,16700,27,1,4905686,35300,2019-06-28
13019,MAA,2016,WHITE,LEXUS,RC 350 AWD,F SPORT,2DCP,6G,A,57213,31,8,4905686,25700,2019-06-28
13020,MAA,2016,GREY,LEXUS,ES 300H,HYBRID,4DSN,4H,A,29825,28,1,4905686,22900,2019-06-28

In [63]:
lexus_df = lexus_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
lexus_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AAA,2014,BLACK,LEXUS,GS 350 4X2,4DSN,A,35508,34,7,26500,2017-01-02
1,BCAA,2015,WHITE,LEXUS,CT 200H,4DSN,A,9869,33,1,20500,2017-01-02
2,BCAA,2014,TAN,LEXUS,ES 300H,4DSN,A,23680,38,1,23500,2017-01-02
3,FAAO,2016,GRAY,LEXUS,RC 350 4X2,2DCP,A,18586,43,3,37500,2017-01-02
4,FAAO,2014,WHITE,LEXUS,IS 350 4X2,4DSN,A,26992,37,3,28100,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
13016,MAA,2019,WHITE,LEXUS,GX,SUV,A,3311,50,2,50750,2019-06-28
13017,MAA,2017,BLACK,LEXUS,RX AWD,SUV,A,47835,44,1,32750,2019-06-28
13018,MAA,2017,WHITE,LEXUS,RX AWD,SUV,A,16700,27,1,35300,2019-06-28
13019,MAA,2016,WHITE,LEXUS,RC 350 AWD,2DCP,A,57213,31,8,25700,2019-06-28
13020,MAA,2016,GREY,LEXUS,ES 300H,4DSN,A,29825,28,1,22900,2019-06-28

In [64]:
lexus_models = lexus_df.describe(include = 'all').loc['unique', :]
lexus_m = []
for i in lexus_df['model'].unique():
    lexus_m.append(i)
    
lexus_m.sort()
print(lexus_m)

['CT', 'CT 200', 'CT 200H', 'CT 200H F SPORT', 'CT 200H F SPT', 'CT 200H FSPORT', 'CT 200H HY', 'CT F SPORT', 'ES 300', 'ES 300H', 'ES 300H HY', 'ES 330', 'ES 350', 'ES 350 TRG', 'ES 4C', 'ES V6', 'ES300', 'GS 200T', 'GS 300', 'GS 300 AWD', 'GS 350', 'GS 350 4X2', 'GS 350 4X2 F SP', 'GS 350 4X2 FSPT', 'GS 350 AWD', 'GS 350 AWD F SP', 'GS 350 AWD FSPT', 'GS 430', 'GS 450H', 'GS 4X2 4C', 'GS 4X2 V6', 'GS AWD V6', 'GS F', 'GX', 'GX 460', 'GX 460 4X4', 'GX 460 AWD', 'GX 460 PREMIUM', 'GX 470', 'HS 250H', 'IS 200T', 'IS 200T    F SP', 'IS 200T F SPORT', 'IS 250', 'IS 250 4X2', 'IS 250 4X2 F SP', 'IS 250 4X2 FSPT', 'IS 250 AWD', 'IS 250 AWD F SP', 'IS 250 AWD FSPT', 'IS 250 FSPORT', 'IS 250C', 'IS 300', 'IS 300     F SP', 'IS 300    F SP', 'IS 300  F SP', 'IS 300 AWD', 'IS 300 F SPORT', 'IS 300 FSPORT', 'IS 350', 'IS 350 4X2', 'IS 350 4X2 FSPT', 'IS 350 AWD', 'IS 350 AWD F SP', 'IS 350 AWD FSPT', 'IS 350 F SPT', 'IS 350 F-SPT', 'IS 350C', 'IS 4X2 4C', 'IS 4X2 V6', 'IS AWD V6', 'IS F', 'IS F SPORT', 'IS TURBO', 'LC 500', 'LC V6', 'LC V8', 'LS 430', 'LS 460', 'LS 460 4X2', 'LS 460 AWD', 'LS 460 AWD F SP', 'LS 460 AWD FSPT', 'LS 4X2', 'LS 4X2 V6', 'LS 500', 'LS AWD', 'LS AWD V6', 'LS430', 'LX', 'LX 470', 'LX 570', 'LX 570 4X4', 'LX470 4X4', 'NX 200T', 'NX 200T AWD', 'NX 200T AWD FSP', 'NX 200T FWD', 'NX 300', 'NX 300H', 'NX 300H AWD', 'NX AWD 4C', 'NX FWD 4C', 'NX TURBO', 'NX200T', 'RC 200T', 'RC 200T F SPORT', 'RC 300', 'RC 300     F SP', 'RC 350', 'RC 350 4X2', 'RC 350 4X2 F SP', 'RC 350 4X2 FSPT', 'RC 350 AWD', 'RC 350 AWD F SP', 'RC 350 AWD FSPT', 'RC 4X2 4C', 'RC 4X2 V6', 'RC AWD V6', 'RC F', 'RC F SPORT', 'RC TURBO', 'RX 300 4X4', 'RX 300 FWD', 'RX 330 AWD', 'RX 330 FWD', 'RX 350', 'RX 350 AWD', 'RX 350 AWD F SP', 'RX 350 F SPT', 'RX 350 FWD', 'RX 350L LUX', 'RX 400H AWD', 'RX 400H FWD', 'RX 450H', 'RX 450H AWD', 'RX 450H FWD', 'RX AWD', 'RX AWD PREMIUM', 'RX FWD', 'RX300', 'SC 430', 'SC300', 'UX AWD']

In [65]:
_ct = 'CT'
_es_350 = 'ES 350'
_gs_350 = 'GS 350'
_gx_460 = 'GX 460'
_is_200 = 'IS 200'
_is_250 = 'IS 250'
_is_300 = 'IS 300'
_is_350 = 'IS 350'
_ls_460 = 'LS 460'
_ls_4x2 = 'LS 4X2'
_lx_570 = 'LX 570'
_lx_470 = 'LX 470'
_ls_awd = 'LS AWD'
_rc_200t = 'RC200 T'
_rc_359 = 'RC 350'
_rx_350 = 'RX 350'
_rx_450h = 'RX 450H'
_rx_awd = 'RX AWD'




lexus_model = _ct

In [66]:
lexus_model_list = [_ct,
_es_350,
_gs_350,
_gx_460,
_is_200,
_is_250,
_is_300,
_is_350,
_ls_460,
_ls_4x2,
_lx_570,
_lx_470,
_ls_awd,
_rc_200t,
_rc_359,
_rx_350,
_rx_450h,
_rx_awd]

In [67]:
for lexus_model in lexus_model_list:
    lexus_df.loc[lexus_df.model.str.contains(lexus_model.lower(), case = False), 'model']= lexus_model

In [68]:
lexus_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AAA,2014,BLACK,LEXUS,GS 350,4DSN,A,35508,34,7,26500,2017-01-02
1,BCAA,2015,WHITE,LEXUS,CT,4DSN,A,9869,33,1,20500,2017-01-02
2,BCAA,2014,TAN,LEXUS,ES 300H,4DSN,A,23680,38,1,23500,2017-01-02
3,FAAO,2016,GRAY,LEXUS,RC 350,2DCP,A,18586,43,3,37500,2017-01-02
4,FAAO,2014,WHITE,LEXUS,IS 350,4DSN,A,26992,37,3,28100,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
13016,MAA,2019,WHITE,LEXUS,GX,SUV,A,3311,50,2,50750,2019-06-28
13017,MAA,2017,BLACK,LEXUS,RX AWD,SUV,A,47835,44,1,32750,2019-06-28
13018,MAA,2017,WHITE,LEXUS,RX AWD,SUV,A,16700,27,1,35300,2019-06-28
13019,MAA,2016,WHITE,LEXUS,RC 350,2DCP,A,57213,31,8,25700,2019-06-28
13020,MAA,2016,GREY,LEXUS,ES 300H,4DSN,A,29825,28,1,22900,2019-06-28

In [69]:
lexus_df.to_csv('..\WHUPL\Output\Lexus_models_clean.csv', index=False, header=True)

<h1>Lincoln<h1>

In [70]:
lincoln_df = pd.read_csv('..\WHUPL\Output\Lincoln.csv')
lincoln_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,2006,BLACK,LINCOLN,NAVIGATOR 4X2,ULTIMATE,SUV,8G,A,121736.0,23,1.0,5119237.0,4800.0,2017-01-02
1,AYCA,2006,TAN,LINCOLN,NAVIGATOR 4X2,ULTIMATE,SUV,8G,A,172258.0,26,1.0,5177137.0,4100.0,2017-01-02
2,AYCA,2005,GRAY,LINCOLN,TOWN CAR,SIGNATURE,4DSN,8G,A,79343.0,20,1.0,4925422.0,3900.0,2017-01-02
3,AYCA,2002,WHITE,LINCOLN,LS V8,SPORT,4DSN,8G,A,73702.0,34,1.0,5019675.0,2500.0,2017-01-02
4,SLAA,2009,FR SILK,LINCOLN,TOWN CAR,SIG LTD,4DSN,8G,A,115406.0,44,1.0,5023668.0,5000.0,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23996,MAA,2017,BLUE,LINCOLN,MKC AWD 4C,RESERVE,SUV,4GT,A,23433.0,28,1.0,4910256.0,21600.0,2019-06-28
23997,MAA,2017,WHITE,LINCOLN,MKZ AWD 4C,RESERVE,4DSN,4GT,A,37411.0,20,1.0,4910256.0,18500.0,2019-06-28
23998,MAA,2018,RED,LINCOLN,MKZ AWD 4C,RESERVE,4DSN,4GT,A,14599.0,46,2.0,5046878.0,27000.0,2019-06-28
23999,MAA,2017,RED,LINCOLN,MKC AWD 4C,SELECT,SUV,4GT,A,32588.0,41,2.0,4910256.0,22100.0,2019-06-28
24000,MAA,2017,RED,LINCOLN,MKC AWD 4C,SELECT,SUV,4GT,A,22950.0,39,1.0,4910256.0,22800.0,2019-06-28

In [71]:
lincoln_df = lincoln_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
lincoln_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2006,BLACK,LINCOLN,NAVIGATOR 4X2,SUV,A,121736.0,23,1.0,4800.0,2017-01-02
1,AYCA,2006,TAN,LINCOLN,NAVIGATOR 4X2,SUV,A,172258.0,26,1.0,4100.0,2017-01-02
2,AYCA,2005,GRAY,LINCOLN,TOWN CAR,4DSN,A,79343.0,20,1.0,3900.0,2017-01-02
3,AYCA,2002,WHITE,LINCOLN,LS V8,4DSN,A,73702.0,34,1.0,2500.0,2017-01-02
4,SLAA,2009,FR SILK,LINCOLN,TOWN CAR,4DSN,A,115406.0,44,1.0,5000.0,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
23996,MAA,2017,BLUE,LINCOLN,MKC AWD 4C,SUV,A,23433.0,28,1.0,21600.0,2019-06-28
23997,MAA,2017,WHITE,LINCOLN,MKZ AWD 4C,4DSN,A,37411.0,20,1.0,18500.0,2019-06-28
23998,MAA,2018,RED,LINCOLN,MKZ AWD 4C,4DSN,A,14599.0,46,2.0,27000.0,2019-06-28
23999,MAA,2017,RED,LINCOLN,MKC AWD 4C,SUV,A,32588.0,41,2.0,22100.0,2019-06-28
24000,MAA,2017,RED,LINCOLN,MKC AWD 4C,SUV,A,22950.0,39,1.0,22800.0,2019-06-28

In [72]:
lincoln_models = lincoln_df.describe(include = 'all').loc['unique', :]
lincoln_m = []
for i in lincoln_df['model'].unique():
    lincoln_m.append(i)
    
lincoln_m.sort()
print(lincoln_m)

['2KT AWD V6', 'AVIATOR 4X2', 'AVIATOR AWD', 'BLACKWD 4X2 CR', 'CAPRI', 'CONTINENTAL', 'CONTINENTAL AWD', 'CONTINENTAL FWD', 'LS', 'LS V6', 'LS V8', 'MARK VIII', 'MKC AWD 4C', 'MKC FWD 4C', 'MKS AWD', 'MKS AWD V', 'MKS AWD V6', 'MKS FWD', 'MKS FWD V6', 'MKT', 'MKT AWD V6', 'MKT FWD 4C', 'MKT FWD V6', 'MKX', 'MKX AWD', 'MKX AWD SUV', 'MKX FWD', 'MKX FWD SUV', 'MKZ AWD', 'MKZ AWD 4C', 'MKZ AWD V6', 'MKZ FWD', 'MKZ FWD 4C', 'MKZ FWD V6', 'NAUTILUS AWD 4C', 'NAUTILUS AWD V6', 'NAUTILUS FWD 4C', 'NAUTILUS FWD V6', 'NAVIGATOR 4X2', 'NAVIGATOR 4X4', 'NAVIGATOR L 4X2', 'NAVIGATOR L 4X4', 'TOWN CAR', 'TOWN CAR LIMO', 'TOWN CAR SIG']

In [73]:
_continental = 'CONTINENTAL'
_mkc_awd = 'MKC AWD'
_mkc_fwd = 'MKC FWD'
_mks_awd = 'MKS AWD'
_mks_fwd = 'MKS FWD'
_mkt_awd = 'MKT AWD'
_mkt_fwd = 'MKT FWD'
_mkx_awd = 'MKX AWD'
_mkx_fwd = 'MKX FWD'
_mkz_awd = 'MKZ AWD'
_mkz_fwd = 'MKZ FWD'
_nautilus_fwd = 'NAUTILUS FWD'
_nautilus_awd = 'NAUTILUS AWD'
_navigator = 'NAVIGATOR'
_town_car = 'TOWN CAR'




lincoln_model = _continental

In [74]:
lincoln_model_list = [_continental,
_mkc_awd,
_mkc_fwd,
_mks_awd,
_mks_fwd,
_mkt_awd,
_mkt_fwd,
_mkx_awd,
_mkx_fwd,
_mkz_awd,
_mkz_fwd,
_nautilus_fwd,
_nautilus_awd,
_navigator,
_town_car]

In [75]:
for lincoln_model in lincoln_model_list:
    lincoln_df.loc[lincoln_df.model.str.contains(lincoln_model.lower(), case = False), 'model']= lincoln_model

In [76]:
lincoln_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2006,BLACK,LINCOLN,NAVIGATOR,SUV,A,121736.0,23,1.0,4800.0,2017-01-02
1,AYCA,2006,TAN,LINCOLN,NAVIGATOR,SUV,A,172258.0,26,1.0,4100.0,2017-01-02
2,AYCA,2005,GRAY,LINCOLN,TOWN CAR,4DSN,A,79343.0,20,1.0,3900.0,2017-01-02
3,AYCA,2002,WHITE,LINCOLN,LS V8,4DSN,A,73702.0,34,1.0,2500.0,2017-01-02
4,SLAA,2009,FR SILK,LINCOLN,TOWN CAR,4DSN,A,115406.0,44,1.0,5000.0,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
23996,MAA,2017,BLUE,LINCOLN,MKC AWD,SUV,A,23433.0,28,1.0,21600.0,2019-06-28
23997,MAA,2017,WHITE,LINCOLN,MKZ AWD,4DSN,A,37411.0,20,1.0,18500.0,2019-06-28
23998,MAA,2018,RED,LINCOLN,MKZ AWD,4DSN,A,14599.0,46,2.0,27000.0,2019-06-28
23999,MAA,2017,RED,LINCOLN,MKC AWD,SUV,A,32588.0,41,2.0,22100.0,2019-06-28
24000,MAA,2017,RED,LINCOLN,MKC AWD,SUV,A,22950.0,39,1.0,22800.0,2019-06-28

In [77]:
lincoln_df.to_csv('..\WHUPL\Output\Lincoln_models_clean.csv', index=False, header=True)

<h1>Maserati<h1>

In [78]:
maserati_df = pd.read_csv('..\WHUPL\Output\Maserati.csv')
maserati_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,2004,BLUE,MASERATI,COUPE,CAMBIOCORS,2DCP,8G,A,42583,27,1,4998120,14000,2017-01-02
1,LMAA,2007,MAROON,MASERATI,QUATTROPORTE,SPORT GT,4DSN,8G,A,36658,34,1,5024246,18000,2017-01-03
2,RAA,2015,BLUE,MASERATI,GHIBLI AWD,S Q4,4DSN,6GT,A,7422,44,5,4903227,48000,2017-01-03
3,RAA,2015,RED,MASERATI,GHIBLI AWD,S Q4,4DSN,6GT,A,12293,37,5,4903227,47500,2017-01-03
4,BCAA,2011,MAROON,MASERATI,GRANTURISMO,S,2DCP,8G,A,15886,35,1,4997069,45500,2017-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9859,MAA,2014,SILVER,MASERATI,GHIBLI AWD,S Q4,4DSN,6GT,A,32467,35,1,5416073,26200,2019-06-28
9860,MAA,2014,BLACK,MASERATI,GHIBLI AWD,S Q4,4DSN,6GT,A,73962,35,2,5416073,20500,2019-06-28
9861,MAA,2014,BLACK,MASERATI,GHIBLI AWD,S Q4,4DSN,6GT,A,31643,42,1,5146485,25750,2019-06-28
9862,MAA,2008,BLACK,MASERATI,QUATTROPORTE,SPORT GT S,4DSN,8G,A,24728,37,1,5372193,16800,2019-06-28
9863,RAA,2014,BLUE,MASERATI,GHIBLI AWD,S Q4,4DSN,6GT,A,36699,33,2,5344724,25250,2019-06-29

In [79]:
maserati_df = maserati_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
maserati_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2004,BLUE,MASERATI,COUPE,2DCP,A,42583,27,1,14000,2017-01-02
1,LMAA,2007,MAROON,MASERATI,QUATTROPORTE,4DSN,A,36658,34,1,18000,2017-01-03
2,RAA,2015,BLUE,MASERATI,GHIBLI AWD,4DSN,A,7422,44,5,48000,2017-01-03
3,RAA,2015,RED,MASERATI,GHIBLI AWD,4DSN,A,12293,37,5,47500,2017-01-03
4,BCAA,2011,MAROON,MASERATI,GRANTURISMO,2DCP,A,15886,35,1,45500,2017-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...
9859,MAA,2014,SILVER,MASERATI,GHIBLI AWD,4DSN,A,32467,35,1,26200,2019-06-28
9860,MAA,2014,BLACK,MASERATI,GHIBLI AWD,4DSN,A,73962,35,2,20500,2019-06-28
9861,MAA,2014,BLACK,MASERATI,GHIBLI AWD,4DSN,A,31643,42,1,25750,2019-06-28
9862,MAA,2008,BLACK,MASERATI,QUATTROPORTE,4DSN,A,24728,37,1,16800,2019-06-28
9863,RAA,2014,BLUE,MASERATI,GHIBLI AWD,4DSN,A,36699,33,2,25250,2019-06-29

In [80]:
maserati_models = maserati_df.describe(include = 'all').loc['unique', :]
maserati_m = []
for i in maserati_df['model'].unique():
    maserati_m.append(i)
    
maserati_m.sort()
print(maserati_m)

['BITURBO', 'COUPE', 'GHIBLI', 'GHIBLI 4X2', 'GHIBLI AWD', 'GRANSPORT', 'GRANTURISMO', 'LEVANTE', 'QUATTROP', 'QUATTROP 4X2 V6', 'QUATTROP 4X2 V8', 'QUATTROP AWD V6', 'QUATTROPORTE', 'SPYDER']

In [81]:
_ghibli = 'GHIBLI'
_quattrop = 'QUATTROP'





maserati_model = _ghibli

In [82]:
maserati_model_list = [_ghibli,
_quattrop]

In [83]:
for maserati_model in maserati_model_list:
    maserati_df.loc[maserati_df.model.str.contains(maserati_model.lower(), case = False), 'model']= maserati_model

In [84]:
maserati_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2004,BLUE,MASERATI,COUPE,2DCP,A,42583,27,1,14000,2017-01-02
1,LMAA,2007,MAROON,MASERATI,QUATTROP,4DSN,A,36658,34,1,18000,2017-01-03
2,RAA,2015,BLUE,MASERATI,GHIBLI,4DSN,A,7422,44,5,48000,2017-01-03
3,RAA,2015,RED,MASERATI,GHIBLI,4DSN,A,12293,37,5,47500,2017-01-03
4,BCAA,2011,MAROON,MASERATI,GRANTURISMO,2DCP,A,15886,35,1,45500,2017-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...
9859,MAA,2014,SILVER,MASERATI,GHIBLI,4DSN,A,32467,35,1,26200,2019-06-28
9860,MAA,2014,BLACK,MASERATI,GHIBLI,4DSN,A,73962,35,2,20500,2019-06-28
9861,MAA,2014,BLACK,MASERATI,GHIBLI,4DSN,A,31643,42,1,25750,2019-06-28
9862,MAA,2008,BLACK,MASERATI,QUATTROP,4DSN,A,24728,37,1,16800,2019-06-28
9863,RAA,2014,BLUE,MASERATI,GHIBLI,4DSN,A,36699,33,2,25250,2019-06-29

In [85]:
maserati_df.to_csv('..\WHUPL\Output\Maserati_models_clean.csv', index=False, header=True)

<h1>Mercedes<h1>

In [86]:
mercedes_df = pd.read_csv('..\WHUPL\Output\Mercedes.csv')
mercedes_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,2006,WHITE,MERCEDES,E350W,3.5L,4DSN,6G,A,95773.0,38,1,4918814,4300,2017-01-02
1,MAA,2011,BLUE,MERCEDES,ML350W4,ML350,SUV,6G,A,40149.0,43,2,5084774,20500,2017-01-02
2,DALA,2010,BLACK,MERCEDES,C300W,C300 SPORT,4DSN,6G,A,73665.0,34,2,4996436,8600,2017-01-02
3,BIGH,2005,SILVER,MERCEDES,SL55 AMG,5.5L AMG,2DCV,8G,A,52247.0,47,1,5369572,21000,2017-01-03
4,FAAO,2011,WHITE,MERCEDES,GL450,GL450,SUV,8G,A,77087.0,39,1,4910280,20800,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45486,MAA,2014,BLACK,MERCEDES,S550V4,S550,4DSN,8GT,A,39739.0,37,1,5157272,39599,2019-06-28
45487,FAAO,2015,BLACK,MERCEDES,C300W,C300,4DSN,4GT,A,38381.0,46,1,5114699,18500,2019-06-29
45488,AAA,2019,BLUE,MERCEDES,C300W4,C 300,4DSN,4GT,A,17802.0,41,12,4913289,30000,2019-06-29
45489,AAA,2013,BLACK,MERCEDES,GL450,GL450,SUV,8G,A,63021.0,31,2,4996436,19103,2019-06-29
45490,DALA,2018,BLACK,MERCEDES,GLE350W4,GLE 350,SUV,6G,A,26947.0,41,8,4919311,38300,2019-06-29

In [87]:
mercedes_df = mercedes_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
mercedes_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2006,WHITE,MERCEDES,E350W,4DSN,A,95773.0,38,1,4300,2017-01-02
1,MAA,2011,BLUE,MERCEDES,ML350W4,SUV,A,40149.0,43,2,20500,2017-01-02
2,DALA,2010,BLACK,MERCEDES,C300W,4DSN,A,73665.0,34,2,8600,2017-01-02
3,BIGH,2005,SILVER,MERCEDES,SL55 AMG,2DCV,A,52247.0,47,1,21000,2017-01-03
4,FAAO,2011,WHITE,MERCEDES,GL450,SUV,A,77087.0,39,1,20800,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
45486,MAA,2014,BLACK,MERCEDES,S550V4,4DSN,A,39739.0,37,1,39599,2019-06-28
45487,FAAO,2015,BLACK,MERCEDES,C300W,4DSN,A,38381.0,46,1,18500,2019-06-29
45488,AAA,2019,BLUE,MERCEDES,C300W4,4DSN,A,17802.0,41,12,30000,2019-06-29
45489,AAA,2013,BLACK,MERCEDES,GL450,SUV,A,63021.0,31,2,19103,2019-06-29
45490,DALA,2018,BLACK,MERCEDES,GLE350W4,SUV,A,26947.0,41,8,38300,2019-06-29

In [88]:
mercedes_models = mercedes_df.describe(include = 'all').loc['unique', :]
mercedes_m = []
for i in mercedes_df['model'].unique():
    mercedes_m.append(i)
    
mercedes_m.sort()
print(mercedes_m)

['190E', '190E 2.6', '2500 SPRINTE', '300SE', '3500', '4 MATIC', '560 SERIES', 'AMG GT', 'AMG SL63', 'AMG SL65', 'AMG SLC43', 'B-CLASS', 'B200', 'B250', 'B250E', 'B250W4', 'BENZ 450SL C', 'C230K', 'C230ML', 'C230W', 'C230W4', 'C230WZ', 'C230WZMT', 'C240S', 'C240S4', 'C240W', 'C240W4', 'C250', 'C250C', 'C250W', 'C250W4', 'C280W4', 'C300', 'C300 4MATIC', 'C300A', 'C300A4', 'C300C', 'C300C4', 'C300W', 'C300W4', 'C300W4  4MATIC', 'C300W4  LUXURY', 'C300W4 4MATIC', 'C32 AMG', 'C320C', 'C320S', 'C320S4', 'C320W', 'C320WZ', 'C320WZ4', 'C350', 'C350C', 'C350C4', 'C350W', 'C350W4', 'C350WE', 'C400W4', 'C43A4 AMG', 'C43C4 AMG', 'C43W4 AMG', 'C450W4 AMG', 'C55 AMG', 'C63 AMG', 'C63 S AMG', 'C63A AMG', 'C63AS AMG', 'C63C AMG', 'C63CS AMG', 'C63W AMG', 'C63WS AMG', 'CL500C', 'CL55 AMG', 'CL550C', 'CL550C4', 'CL600C', 'CL63 AMG', 'CL65 AMG', 'CLA250C', 'CLA250C4', 'CLA45 AMG', 'CLA45 AMG4', 'CLK320A', 'CLK320C', 'CLK350A', 'CLK500A', 'CLK500C', 'CLK55 AMG', 'CLK63A AMG', 'CLS 450C', 'CLS400C', 'CLS400C4', 'CLS500C', 'CLS550C', 'CLS550C4', 'CLS63 AMG', 'CLS63C4S AMG', 'CLS63S AMG', 'CLS63W4 AMG', 'E-CLASS', 'E250BTC', 'E250BTC4', 'E280W4', 'E300W', 'E300W4', 'E300W4 SPORT', 'E320 CDI', 'E320BTC', 'E320S', 'E320S4', 'E320W', 'E320W4', 'E350A', 'E350BTC', 'E350C', 'E350C4', 'E350S', 'E350S4', 'E350W', 'E350W4', 'E350W4  SPORT', 'E400 HYB', 'E400 SPORT HYB', 'E400A', 'E400A4', 'E400C', 'E400C4', 'E400S4', 'E400W', 'E400W4', 'E43W4 AMG', 'E450W4', 'E500S4', 'E500W', 'E500W4', 'E55 AMG', 'E550A', 'E550C', 'E550W', 'E550W4', 'E63 AMG', 'E63S AMG WAGON', 'E63S W4 AMG', 'E63S4S AMG', 'E63SW4 AMG', 'E63W AMG', 'E63W4 AMG', 'E63W4S AMG', 'ED', 'FRIGHTLINER', 'G500', 'G500K', 'G55 K AMG', 'G550', 'G550W4', 'G550W44', 'G55K AMG', 'G63', 'G63 AMG', 'G63W4 AMG', 'G65W4 AMG', 'GL320 CDI', 'GL320BTC', 'GL350 4MATIC', 'GL350BTC', 'GL450', 'GL450 4MATIC', 'GL450W4', 'GL550', 'GL550 4MATIC', 'GL63 AMG 4MATIC', 'GLA250W', 'GLA250W2', 'GLA250W4', 'GLA45', 'GLA45 AMG', 'GLA45W4 AMG', 'GLC 4X2', 'GLC300', 'GLC300C4', 'GLC300W', 'GLC300W4', 'GLC350E4', 'GLC43C4 AMG', 'GLC43W4 AMG', 'GLC63C4S AMG', 'GLC63W4 AMG', 'GLE300D4', 'GLE350D4', 'GLE350W', 'GLE350W4', 'GLE400W4', 'GLE43C4 AMG', 'GLE43W4 AMG', 'GLE450 AMG', 'GLE450C4 AMG', 'GLE550E4', 'GLE63C4S AMG', 'GLE63SC4 AMG', 'GLE63SW4 AMG', 'GLE63W4 AMG', 'GLE63W4S AMG', 'GLK250W4 BL TEC', 'GLK350W2', 'GLK350W4', 'GLS450W4', 'GLS550W4', 'GLS63W4 AMG', 'GT AMG ROADSTE', 'METRIS', 'METRIS CARGO', 'METRIS PASSENG', 'ML250BTC', 'ML320', 'ML320BTC', 'ML350', 'ML350BTC', 'ML350W2', 'ML350W4', 'ML400 4MATIC', 'ML400W4', 'ML550', 'ML550W4', 'ML63 AMG', 'R-CLASS', 'R350', 'R350BTC', 'R350V4', 'S-CLASS', 'S350BTC4', 'S350W', 'S400HV', 'S430V', 'S430V4', 'S450', 'S450V', 'S450V4', 'S500V', 'S500V4', 'S55 AMG', 'S550', 'S550A', 'S550C4', 'S550H', 'S550V', 'S550V4', 'S550V4 AMG', 'S550VE HYBRID', 'S550X4', 'S560A', 'S560C4', 'S560V', 'S560V4', 'S560X4 MAYBACH', 'S600 MAYBACH', 'S600V', 'S600X MAYBACH', 'S63 AMG', 'S63A4 AMG', 'S63C4 AMG', 'S63V4 AMG', 'S65 AMG', 'S65A AMG', 'S65C', 'S65C AMG', 'S65V AMG', 'SL400', 'SL450', 'SL500', 'SL500R', 'SL55 AMG', 'SL550', 'SL550R', 'SL600R', 'SL63 AMG', 'SL65 AMG', 'SLC 300', 'SLC300', 'SLK230', 'SLK250', 'SLK280', 'SLK300', 'SLK350', 'SLK55 AMG', 'SLS AMG', 'SLSC', 'SLSC AMG GT', 'SLSGTR AMG', 'SLSR AMG', 'SLSR AMG GT', 'SPR 2500 4X2', 'SPR 2500 4X2 4C', 'SPR 2500 4X2 V6', 'SPR 3500 4X2 4C', 'SPR 3500 4X2 V6', 'SPRINT 2500 4C', 'SPRINT 2500 V6', 'SPRINT 3500 4C', 'SPRINT 3500 V6', 'SPRINT 4X2 4C', 'SPRINTER', 'SPRINTER 2500', 'SPRINTER 3500', 'SPRINTR 2500']

In [89]:
_190e = '190E'
_c230 = 'C230'
_c250 = 'C250'
_c320 = 'C320'
_c350 = 'C350'
_c300 = 'C300'
_c320 = 'C320'
_c63 = 'C63'
_cla250c = 'CLA250C'
_cla45_amg = 'CLA45 AMG'
_ck550 = 'CK550C'
_c350 = 'C350'
_c63 = 'C63'
_cla250c = 'CLA250C'
_cls550c = 'CLS550C'
_cls63 = 'CLS63'
_e250 = 'E250'
_e280w = 'E280W'
_e400 = 'E400'
_e500w = 'E500W'
_e55 = 'E55'
_g55 = 'G55'
_e63 = 'E63'
_g500 = 'G500'
_gl320 = 'GL320'
_g63 = 'G63'
_gl350 = 'GL350'
_gle350 = 'GLE350W'
_gl450 = 'GL450'
_gle63sc4 = 'GLE63SC4'
_gle63w4 = 'GLE63W4'
_metris = 'METRIS'
_ml350 = 'ML350'
_ml400 = 'ML400'
_ml550 = 'ML550'
_r350 = 'R350'
_s550 = 'S550'
_sls = 'SLS'
_2500 = '2500'
_3500 = '3500'



mercedes_model = _c230

In [90]:
mercedes_model_list = [_190e,
_c230,
_c250,
_c320,
_c350,
_c300,
_c320,
_c63,
_cla250c,
_cla45_amg,
_ck550,
_c350,
_c63,
_cla250c,
_cls550c,
_cls63,
_e250,
_e280w,
_e400,
_e500w,
_e55,
_g55,
_e63,
_g500,
_gl320,
_g63,
_gl350,
_gle350,
_gl450,
_gle63sc4,
_gle63w4,
_metris,
_ml350,
_ml400,
_ml550,
_r350,
_s550,
_sls,
_2500,
_3500]

In [91]:
for mercedes_model in mercedes_model_list:
    mercedes_df.loc[mercedes_df.model.str.contains(mercedes_model.lower(), case = False), 'model']= mercedes_model

In [92]:
mercedes_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2006,WHITE,MERCEDES,E350W,4DSN,A,95773.0,38,1,4300,2017-01-02
1,MAA,2011,BLUE,MERCEDES,ML350,SUV,A,40149.0,43,2,20500,2017-01-02
2,DALA,2010,BLACK,MERCEDES,C300,4DSN,A,73665.0,34,2,8600,2017-01-02
3,BIGH,2005,SILVER,MERCEDES,SL55 AMG,2DCV,A,52247.0,47,1,21000,2017-01-03
4,FAAO,2011,WHITE,MERCEDES,GL450,SUV,A,77087.0,39,1,20800,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
45486,MAA,2014,BLACK,MERCEDES,S550,4DSN,A,39739.0,37,1,39599,2019-06-28
45487,FAAO,2015,BLACK,MERCEDES,C300,4DSN,A,38381.0,46,1,18500,2019-06-29
45488,AAA,2019,BLUE,MERCEDES,C300,4DSN,A,17802.0,41,12,30000,2019-06-29
45489,AAA,2013,BLACK,MERCEDES,GL450,SUV,A,63021.0,31,2,19103,2019-06-29
45490,DALA,2018,BLACK,MERCEDES,GLE350W,SUV,A,26947.0,41,8,38300,2019-06-29

In [93]:
mercedes_df.to_csv('..\WHUPL\Output\Mercedes_models_clean.csv', index=False, header=True)

<h1>Porsche<h1>

In [94]:
porsche_df = pd.read_csv('..\WHUPL\Output\Porsche.csv')
porsche_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,2002,RED,PORSCHE,911 CAB,CARRERA 4,2DCV,6G,A,122975.0,31,1.0,4998120.0,12000.0,2017-01-02
1,AAAI,2004,BLUE,PORSCHE,CAYENNE V8,S,SUV,8G,A,106528.0,36,4.0,5133309.0,3800.0,2017-01-03
2,RAA,2016,WHITE,PORSCHE,PANAMERA AWD V6,AWD EDIT,4DHB,6G,A,9463.0,43,8.0,4915785.0,65000.0,2017-01-03
3,AREN,2013,BLACK,PORSCHE,CAYENNE V8,TURBO,SUV,8GT,A,102756.0,23,3.0,4905200.0,31800.0,2017-01-03
4,HATA,2001,SILVER,PORSCHE,911 CAB,CARRERA 4,2DCV,6G,6,38225.0,13,4.0,5156735.0,15000.0,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23150,MAA,2010,BLACK,PORSCHE,PANAMERA AWD,TURBO,4DHB,8GT,A,130503.0,37,1.0,5154636.0,17000.0,2019-06-28
23151,MAA,2013,BLACK,PORSCHE,PANAMERA AWD V6,4,4DHB,6G,A,56251.0,35,2.0,4970150.0,25500.0,2019-06-28
23152,RAA,2010,BLACK,PORSCHE,PANAMERA AWD,TURBO,4DHB,8GT,A,76994.0,25,1.0,5401241.0,24000.0,2019-06-29
23153,FAAO,2012,WHITE,PORSCHE,CAYENNE V8,S,SUV,8G,A,102020.0,42,1.0,5447995.0,18900.0,2019-06-30
23154,MAA,2017,WHITE,PORSCHE,CAYENNE V6,PLATINUM,SUV,6G,A,45194.0,37,2.0,4905900.0,40000.0,2019-06-30

In [95]:
porsche_df = porsche_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
porsche_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2002,RED,PORSCHE,911 CAB,2DCV,A,122975.0,31,1.0,12000.0,2017-01-02
1,AAAI,2004,BLUE,PORSCHE,CAYENNE V8,SUV,A,106528.0,36,4.0,3800.0,2017-01-03
2,RAA,2016,WHITE,PORSCHE,PANAMERA AWD V6,4DHB,A,9463.0,43,8.0,65000.0,2017-01-03
3,AREN,2013,BLACK,PORSCHE,CAYENNE V8,SUV,A,102756.0,23,3.0,31800.0,2017-01-03
4,HATA,2001,SILVER,PORSCHE,911 CAB,2DCV,6,38225.0,13,4.0,15000.0,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
23150,MAA,2010,BLACK,PORSCHE,PANAMERA AWD,4DHB,A,130503.0,37,1.0,17000.0,2019-06-28
23151,MAA,2013,BLACK,PORSCHE,PANAMERA AWD V6,4DHB,A,56251.0,35,2.0,25500.0,2019-06-28
23152,RAA,2010,BLACK,PORSCHE,PANAMERA AWD,4DHB,A,76994.0,25,1.0,24000.0,2019-06-29
23153,FAAO,2012,WHITE,PORSCHE,CAYENNE V8,SUV,A,102020.0,42,1.0,18900.0,2019-06-30
23154,MAA,2017,WHITE,PORSCHE,CAYENNE V6,SUV,A,45194.0,37,2.0,40000.0,2019-06-30

In [96]:
porsche_models = mercedes_df.describe(include = 'all').loc['unique', :]
porsche_m = []
for i in porsche_df['model'].unique():
    porsche_m.append(i)
    
porsche_m.sort()
print(porsche_m)

['718 BOX S', '718 BOXS GTS', '718 BOXS S', '718 BOXST S', '718 BOXSTER', '718 BOXSTER S', '718 BOXSTR S', '718 CAY GTS', '718 CAYMAN', '718 CAYMAN S', '718BOXSTER S', '911', '911  6C', '911 2WD 6C', '911 4 GTS', '911 4X2', '911 4X2 6C', '911 6C', '911 AWD', '911 AWD 6C', '911 AWD 6G', '911 C-4 CPE', '911 CAB', '911 CABRIOLET', '911 CABRLT S', '911 CAR CAB', '911 CAR GTS', '911 CARERA 4S', '911 CARERA4S', '911 CARERRA', '911 CARR', '911 CARR 4S', '911 CARR CAB', '911 CARR GTS', '911 CARR S', '911 CARR S CABR', '911 CARRARA', '911 CARRERA', '911 CARRERA 4', '911 CARRERA 4S', '911 CARRERA 4X2', '911 CARRERA AWD', '911 CARRERA CAB', '911 CARRERA GTS', '911 CARRERA S', '911 CARRERA4', '911 COUPE', '911 CPE', '911 CPE S', '911 GT2', '911 GT3', '911 S TURBO', '911 SC', '911 TAR 4GTS', '911 TARGA', '911 TARGA 4', '911 TARGA 4S', '911 TUR CAB', '911 TURBO', '911 TURBO S', '911CAR 4SCAB', '911CAR CAB', '911CAR GTS C', '911CAR S CAB', '911CAR4 SCAB', '911CAR4S CAB', '911CARR 4GTS', '911CARR CAB', '911CARR4SCAB', '911CARRERA 4', '911CARRERA S', '911TARG 4GTS', '911TRB S CAB', '911TUR S CAB', '911TURBO CAB', '924 S', '928', '930', '944', '968', 'BOXST BLK ED', 'BOXSTER', 'BOXSTER GTS', 'BOXSTER S', 'CARRERA CAB', 'CAY DIE PLAT', 'CAY S E-HY', 'CAYE', 'CAYE DIE PLA', 'CAYE DIE PLAT', 'CAYE DIESEL', 'CAYE DIESEL PLA', 'CAYE GTS', 'CAYE PLAT', 'CAYE PLAT ED', 'CAYE PLAT EDIT', 'CAYE S', 'CAYE S E-HY', 'CAYE S HY', 'CAYE TUBRO S', 'CAYE TURBO', 'CAYE TURBO S', 'CAYENNE', 'CAYENNE DIESEL', 'CAYENNE GTS', 'CAYENNE HYBRID', 'CAYENNE PLAT', 'CAYENNE PLATINU', 'CAYENNE S', 'CAYENNE S E HYB', 'CAYENNE S E-HYB', 'CAYENNE S HY', 'CAYENNE S HYBRI', 'CAYENNE SE-HYBD', 'CAYENNE TIP', 'CAYENNE TURB', 'CAYENNE V6', 'CAYENNE V8', 'CAYMAN', 'CAYMAN GT4', 'CAYMAN GTS', 'CAYMAN S', 'MACAN', 'MACAN  6', 'MACAN 4C', 'MACAN GTS', 'MACAN S', 'MACAN TURBO', 'MACAN V6', 'PAN', 'PAN 4', 'PAN 4 E-HYB', 'PAN 4 ED', 'PAN 4 EDIT', 'PAN 4PLAT ED', 'PAN 4S', 'PAN 4S EXEC', 'PAN EDITION', 'PAN EXEC', 'PAN GTS', 'PAN S', 'PAN S E HYBRID', 'PAN S E-HY', 'PAN S HY', 'PAN TRB EXEC', 'PAN TUR EXEC', 'PAN TUR S EX', 'PAN TUR SP TURI', 'PAN TURB EXC', 'PAN TURB EXE', 'PAN TURBO', 'PAN TURBO EX', 'PAN TURBO S', 'PAN TURNO S', 'PANAMERA', 'PANAMERA  V6', 'PANAMERA  V8', 'PANAMERA 2WD V6', 'PANAMERA 4', 'PANAMERA 4 AWD', 'PANAMERA 4 EDIT', 'PANAMERA 4 PLAT', 'PANAMERA 4S', 'PANAMERA 4S SPT', 'PANAMERA 4X2', 'PANAMERA 4X2 V6', 'PANAMERA 4X2 V8', 'PANAMERA AWD', 'PANAMERA AWD V6', 'PANAMERA AWD V8', 'PANAMERA ED', 'PANAMERA EDIT', 'PANAMERA EDITIO', 'PANAMERA GTS', 'PANAMERA S', 'PANAMERA TURBO', 'PANAMERA V6', 'PANAMERA V8']

In [97]:
_718 = '718'
_718_cayman = '718 CAYMAN'
_911 = '911'
_911_gt2 = '911 GT2'
_911_gt3 = '911 GT3'
_911_turbo = '911 TURBO'
_cayenne = 'CAYENNE'
_cayman = 'CAYMAN'
_macan = 'MACAN'
_panamera = 'PANAMERA'







porsche_model = _911

In [98]:
porsche_model_list = [_718,
_718_cayman,
_911,
_911_gt2,
_911_gt3,
_911_turbo,
_cayenne,
_cayman,
_macan,
_panamera]

In [99]:
for porsche_model in porsche_model_list:
    porsche_df.loc[porsche_df.model.str.contains(porsche_model.lower(), case = False), 'model']= porsche_model

In [100]:
porsche_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2002,RED,PORSCHE,911,2DCV,A,122975.0,31,1.0,12000.0,2017-01-02
1,AAAI,2004,BLUE,PORSCHE,CAYENNE,SUV,A,106528.0,36,4.0,3800.0,2017-01-03
2,RAA,2016,WHITE,PORSCHE,PANAMERA,4DHB,A,9463.0,43,8.0,65000.0,2017-01-03
3,AREN,2013,BLACK,PORSCHE,CAYENNE,SUV,A,102756.0,23,3.0,31800.0,2017-01-03
4,HATA,2001,SILVER,PORSCHE,911,2DCV,6,38225.0,13,4.0,15000.0,2017-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...
23150,MAA,2010,BLACK,PORSCHE,PANAMERA,4DHB,A,130503.0,37,1.0,17000.0,2019-06-28
23151,MAA,2013,BLACK,PORSCHE,PANAMERA,4DHB,A,56251.0,35,2.0,25500.0,2019-06-28
23152,RAA,2010,BLACK,PORSCHE,PANAMERA,4DHB,A,76994.0,25,1.0,24000.0,2019-06-29
23153,FAAO,2012,WHITE,PORSCHE,CAYENNE,SUV,A,102020.0,42,1.0,18900.0,2019-06-30
23154,MAA,2017,WHITE,PORSCHE,CAYENNE,SUV,A,45194.0,37,2.0,40000.0,2019-06-30

In [101]:
porsche_df.to_csv('..\WHUPL\Output\Porsche_models_clean.csv', index=False, header=True)

<h1>Toyota<h1>

In [102]:
toyota_df = pd.read_csv('..\WHUPL\Output\Toyota.csv')
toyota_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,KEYA,2001,SILVER,TOYOTA,SEQUOIA 4X4,LIMITED,SUV,8G,O,206970,23,3,5055437,1900,2017-01-02
1,AYCA,2009,SILVER,TOYOTA,HIGHLNDR 4X4 V6,LIMITED,SUV,6G,A,103924,35,1,4995335,13000,2017-01-02
2,AAA,2016,BLACK,TOYOTA,COROLLA,LE,4DSN,4G,A,24368,44,3,4902417,11800,2017-01-02
3,AAA,2016,BLACK,TOYOTA,CAMRY 4C,SE,4DSN,4G,A,26322,44,6,4902417,14600,2017-01-02
4,AAA,2015,BLACK,TOYOTA,COROLLA,S PLUS,4DSN,4G,A,24565,44,2,4905687,12700,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65546,MMAA,2017,BLKSD,TOYOTA,RAV4 AWD,XLE,SUV,4H,A,14365,42,1,4905687,21800,2019-06-29
65547,NASH,2016,GRAY,TOYOTA,RAV4 FWD,XLE,SUV,4G,A,34712,44,1,4938500,17525,2019-06-29
65548,SVAA,2012,WHITE,TOYOTA,COROLLA,L,4DSN,4G,A,55537,20,3,4918814,5200,2019-06-29
65549,MAA,2015,WHITE,TOYOTA,HIGHLNDR AWD V6,LIMITED,SUV,6G,A,89639,26,3,5367171,20400,2019-06-29
65550,MAA,2016,WHITE,TOYOTA,SIENNA FWD,XLE,VAN,6G,A,25693,46,3,5413554,24800,2019-06-30

In [103]:
toyota_df = toyota_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
toyota_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,KEYA,2001,SILVER,TOYOTA,SEQUOIA 4X4,SUV,O,206970,23,3,1900,2017-01-02
1,AYCA,2009,SILVER,TOYOTA,HIGHLNDR 4X4 V6,SUV,A,103924,35,1,13000,2017-01-02
2,AAA,2016,BLACK,TOYOTA,COROLLA,4DSN,A,24368,44,3,11800,2017-01-02
3,AAA,2016,BLACK,TOYOTA,CAMRY 4C,4DSN,A,26322,44,6,14600,2017-01-02
4,AAA,2015,BLACK,TOYOTA,COROLLA,4DSN,A,24565,44,2,12700,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
65546,MMAA,2017,BLKSD,TOYOTA,RAV4 AWD,SUV,A,14365,42,1,21800,2019-06-29
65547,NASH,2016,GRAY,TOYOTA,RAV4 FWD,SUV,A,34712,44,1,17525,2019-06-29
65548,SVAA,2012,WHITE,TOYOTA,COROLLA,4DSN,A,55537,20,3,5200,2019-06-29
65549,MAA,2015,WHITE,TOYOTA,HIGHLNDR AWD V6,SUV,A,89639,26,3,20400,2019-06-29
65550,MAA,2016,WHITE,TOYOTA,SIENNA FWD,VAN,A,25693,46,3,24800,2019-06-30

In [104]:
toyota_models = toyota_df.describe(include = 'all').loc['unique', :]
toyota_m = []
for i in toyota_df['model'].unique():
    toyota_m.append(i)
    
toyota_m.sort()
print(toyota_m)

['4 RUNNER', '4 RUNNER 4X4', '4-RUNNER', '4RUNNER 4X2', '4RUNNER 4X2 V6', '4RUNNER 4X2 V8', '4RUNNER 4X4', '4RUNNER 4X4 V6', '4RUNNER 4X4 V8', '86', 'AVALON', 'AVALON 4C', 'AVALON V6', 'C-HR', 'CAMRY', 'CAMRY 4C', 'CAMRY LE', 'CAMRY SE', 'CAMRY SOLARA 4C', 'CAMRY SOLARA V6', 'CAMRY V6', 'CAMRY XLE', 'CELICA', 'CELICA FWD', 'COROLLA', 'CRESSIDA', 'ECHO', 'FJ CRUISER 4X4', 'HIGHLANDER', 'HIGHLNDR', 'HIGHLNDR 4X4', 'HIGHLNDR 4X4 V6', 'HIGHLNDR AWD V6', 'HIGHLNDR FWD', 'HIGHLNDR FWD 4C', 'HIGHLNDR FWD V6', 'HIGHLNDR LTD HY', 'MATRIX', 'MATRIX 4C', 'MATRIX AWD', 'MATRIX AWD 4C', 'MATRIX FWD', 'MATRIX FWD 4C', 'PICKUP 4X2', 'PICKUP 4X4', 'PREVIA', 'PREVIA ALL-TRAC', 'PRIUS', 'PRIUS C', 'PRIUS PLUG IN', 'PRIUS PLUG-IN', 'PRIUS PRIME', 'PRIUS V', 'PRIUS V HYBRID', 'RAV 4', 'RAV4', 'RAV4 4C', 'RAV4 4X4 4C', 'RAV4 4X4 V6', 'RAV4 AWD', 'RAV4 EV', 'RAV4 FWD', 'RAV4 FWD 4C', 'RAV4 FWD V6', 'SEQUOIA 4X2', 'SEQUOIA 4X2 V8', 'SEQUOIA 4X4', 'SEQUOIA 4X4 V8', 'SHORT BED', 'SIENNA', 'SIENNA AWD', 'SIENNA FWD', 'SIENNA XLE AWD', 'SOLARA', 'SOLARA 4C', 'T100 4X4', 'TACOMA', 'TACOMA 4X2', 'TACOMA 4X2 4C', 'TACOMA 4X2 DB', 'TACOMA 4X2 E', 'TACOMA 4X2 EX', 'TACOMA 4X2 RG', 'TACOMA 4X2 V6', 'TACOMA 4X4', 'TACOMA 4X4 DB', 'TACOMA 4X4 EX', 'TACOMA 4X4 TRD', 'TACOMA 4X4 V6', 'TERCEL', 'TUNDRA', 'TUNDRA 4X2', 'TUNDRA 4X2 CR', 'TUNDRA 4X2 DB', 'TUNDRA 4X2 EX', 'TUNDRA 4X2 RG', 'TUNDRA 4X2 V6', 'TUNDRA 4X2 V8', 'TUNDRA 4X4', 'TUNDRA 4X4 CR', 'TUNDRA 4X4 DB', 'TUNDRA 4X4 EX', 'TUNDRA 4X4 RG', 'TUNDRA 4X4 V8', 'VENZA AWD 4C', 'VENZA AWD V6', 'VENZA FWD 4C', 'VENZA FWD V6', 'YARIS']

In [105]:
_4_runner = 'RUNNER'
_avalon = 'AVALON'
_camry = 'CAMRY'
_celica = 'CELICA'
_highlander = 'HIGHL'
_matrix = 'MATRIX'
_prius = 'PRIUS'
_rav4 = 'RAV'
_sequoia = 'SEQUOIA'
_sienna = 'SIENNA'
_solara = 'SOLARA'
_tacoma = 'TACOMA'
_tundra = 'TUNDRA'
_venza = 'VENZA'



toyota_model = _avalon

In [106]:
toyota_model_list = [_4_runner,
_avalon,
_camry,
_celica,
_highlander,
_matrix,
_prius,
_rav4,
_sequoia,
_sienna,
_solara,
_tacoma,
_tundra,
_venza]

In [107]:
for toyota_model in toyota_model_list:
    toyota_df.loc[toyota_df.model.str.contains(toyota_model.lower(), case = False), 'model']= toyota_model

In [108]:
toyota_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,KEYA,2001,SILVER,TOYOTA,SEQUOIA,SUV,O,206970,23,3,1900,2017-01-02
1,AYCA,2009,SILVER,TOYOTA,HIGHL,SUV,A,103924,35,1,13000,2017-01-02
2,AAA,2016,BLACK,TOYOTA,COROLLA,4DSN,A,24368,44,3,11800,2017-01-02
3,AAA,2016,BLACK,TOYOTA,CAMRY,4DSN,A,26322,44,6,14600,2017-01-02
4,AAA,2015,BLACK,TOYOTA,COROLLA,4DSN,A,24565,44,2,12700,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
65546,MMAA,2017,BLKSD,TOYOTA,RAV,SUV,A,14365,42,1,21800,2019-06-29
65547,NASH,2016,GRAY,TOYOTA,RAV,SUV,A,34712,44,1,17525,2019-06-29
65548,SVAA,2012,WHITE,TOYOTA,COROLLA,4DSN,A,55537,20,3,5200,2019-06-29
65549,MAA,2015,WHITE,TOYOTA,HIGHL,SUV,A,89639,26,3,20400,2019-06-29
65550,MAA,2016,WHITE,TOYOTA,SIENNA,VAN,A,25693,46,3,24800,2019-06-30

In [109]:
toyota_df.to_csv('..\WHUPL\Output\Toyota_models_clean.csv', index=False, header=True)

<h1>Volkswagon<h1>

In [110]:
volkswagon_df = pd.read_csv('..\WHUPL\Output\Volkswagon.csv')
volkswagon_df

,auction_code,car_year,color,make,model,subseries,body,engine,transmission,mileage,condition_grade,times_run,seller,sale_price,formatted_sold_date
0,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SEL,SUV,4GT,A,96696.0,34,1.0,5177137.0,7100.0,2017-01-02
1,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,SE,VAN,6G,A,92321.0,31,1.0,4925422.0,5800.0,2017-01-02
2,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,SE,4DSN,4GT,A,70568.0,27,1.0,4925422.0,4500.0,2017-01-02
3,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,LE,SUV,4GT,A,85124.0,38,6.0,5322633.0,8300.0,2017-01-02
4,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,1.8T S,4DSN,4GT,A,16947.0,46,2.0,4905415.0,13800.0,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61239,MAA,2017,RED,VOLKSWAGEN,GOLF,WOLFSBURG,4DHB,4GT,A,22279.0,28,1.0,4905414.0,13600.0,2019-06-28
61240,MAA,2015,WHITE,VOLKSWAGEN,JETTA,GLI SEL,4DSN,4GT,A,76514.0,21,1.0,4905415.0,3600.0,2019-06-28
61241,MAA,2017,BLACK,VOLKSWAGEN,PASSAT 4C,RLINE COMF,4DSN,4GT,A,24620.0,28,1.0,4905414.0,14400.0,2019-06-28
61242,MAA,2017,GREY,VOLKSWAGEN,JETTA,1.4T S,4DSN,4GT,A,42364.0,23,1.0,4919311.0,9700.0,2019-06-28
61243,SLAA,2011,BLUE,VOLKSWAGEN,JETTA 5C,SE,4DSN,5G,A,125802.0,20,2.0,5034660.0,3600.0,2019-06-30

In [111]:
volkswagon_df = volkswagon_df.drop(columns=['subseries', 'engine', 'seller'], axis = 1)
volkswagon_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN AWD,SUV,A,96696.0,34,1.0,7100.0,2017-01-02
1,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,VAN,A,92321.0,31,1.0,5800.0,2017-01-02
2,AYCA,2014,TAN,VOLKSWAGEN,JETTA 4C,4DSN,A,70568.0,27,1.0,4500.0,2017-01-02
3,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN FWD,SUV,A,85124.0,38,6.0,8300.0,2017-01-02
4,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT 4C,4DSN,A,16947.0,46,2.0,13800.0,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
61239,MAA,2017,RED,VOLKSWAGEN,GOLF,4DHB,A,22279.0,28,1.0,13600.0,2019-06-28
61240,MAA,2015,WHITE,VOLKSWAGEN,JETTA,4DSN,A,76514.0,21,1.0,3600.0,2019-06-28
61241,MAA,2017,BLACK,VOLKSWAGEN,PASSAT 4C,4DSN,A,24620.0,28,1.0,14400.0,2019-06-28
61242,MAA,2017,GREY,VOLKSWAGEN,JETTA,4DSN,A,42364.0,23,1.0,9700.0,2019-06-28
61243,SLAA,2011,BLUE,VOLKSWAGEN,JETTA 5C,4DSN,A,125802.0,20,2.0,3600.0,2019-06-30

In [112]:
volkswagon_models = volkswagon_df.describe(include = 'all').loc['unique', :]
volkswagon_m = []
for i in volkswagon_df['model'].unique():
    volkswagon_m.append(i)
    
volkswagon_m.sort()
print(volkswagon_m)

['4C', 'ATLAS AWD V6', 'ATLAS FWD 4C', 'ATLAS FWD V6', 'BEET TREND', 'BEETLE', 'BEETLE 4C', 'BEETLE 5C', 'CABRIO', 'CC', 'CC 2.0T SE F', 'CC 4X4 V6', 'CC AWD V6', 'CC FWD 4C', 'CC FWD V6', 'CC SPT +', 'E-GOLF', 'EOS', 'EOS 4C', 'EOS V6', 'EUROVAN', 'EUROVAN CAMPER', 'GLI', 'GOLF', 'GOLF 4C', 'GOLF 5C', 'GOLF ALLTRACK', 'GOLF AWD', 'GOLF CITY', 'GOLF FWD', 'GOLF GLS', 'GOLF GTI', 'GOLF R', 'GOLF SPTWGN AWD', 'GOLF SPTWGN FWD', 'GTI', 'GTI 4C', 'GTI V6', 'JETTA', 'JETTA 2.5L SE', 'JETTA 4C', 'JETTA 5C', 'JETTA CITY', 'JETTA SEDAN', 'JETTA TSI', 'JETTA V6', 'PASSAT', 'PASSAT 1.8T', 'PASSAT 4C', 'PASSAT 5C', 'PASSAT AWD', 'PASSAT AWD 4C', 'PASSAT AWD V6', 'PASSAT AWD V8', 'PASSAT FWD', 'PASSAT FWD 4C', 'PASSAT FWD V6', 'PASSAT V6', 'PHAETON V12', 'PHAETON V8', 'RABBIT', 'ROUTAN', 'SCIROCCO', 'TIGUAN', 'TIGUAN 2.0T S', 'TIGUAN 2.0T SEL', 'TIGUAN 4X4', 'TIGUAN AWD', 'TIGUAN FWD', 'TIGUAN LTD AWD', 'TIGUAN LTD FWD', 'TIGUAN S', 'TIGUAN SE', 'TOUAREG', 'TOUAREG 2 V6', 'TOUAREG 4X4 V6', 'TOUAREG AWD V6', 'TOUAREG V10', 'TOUAREG V6', 'TOUAREG V8']

In [113]:
_atlas = 'ATLAS'
_beetle = 'BEETLE'
_cc = 'CC'
_eos = 'EOS'
_golf = 'GOLF'
_gti = 'GTI'
_jetta = 'JETTA'
_passat = 'PASSAT'
_tiguan = 'TIGUAN'
_toureg = 'TOUAREG'






volkswagon_model = _atlas

In [114]:
volkswagon_model_list = [_atlas,
_beetle,
_cc,
_eos,
_golf,
_gti,
_jetta,
_passat,
_tiguan,
_toureg]

In [115]:
for volkswagon_model in volkswagon_model_list:
    volkswagon_df.loc[volkswagon_df.model.str.contains(volkswagon_model.lower(), case = False), 'model']= volkswagon_model

In [116]:
volkswagon_df

,auction_code,car_year,color,make,model,body,transmission,mileage,condition_grade,times_run,sale_price,formatted_sold_date
0,AYCA,2009,BLACK,VOLKSWAGEN,TIGUAN,SUV,A,96696.0,34,1.0,7100.0,2017-01-02
1,AYCA,2009,SILVER,VOLKSWAGEN,ROUTAN,VAN,A,92321.0,31,1.0,5800.0,2017-01-02
2,AYCA,2014,TAN,VOLKSWAGEN,JETTA,4DSN,A,70568.0,27,1.0,4500.0,2017-01-02
3,NADE,2012,BLACK,VOLKSWAGEN,TIGUAN,SUV,A,85124.0,38,6.0,8300.0,2017-01-02
4,GOAA,2016,WHITE,VOLKSWAGEN,PASSAT,4DSN,A,16947.0,46,2.0,13800.0,2017-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...
61239,MAA,2017,RED,VOLKSWAGEN,GOLF,4DHB,A,22279.0,28,1.0,13600.0,2019-06-28
61240,MAA,2015,WHITE,VOLKSWAGEN,JETTA,4DSN,A,76514.0,21,1.0,3600.0,2019-06-28
61241,MAA,2017,BLACK,VOLKSWAGEN,PASSAT,4DSN,A,24620.0,28,1.0,14400.0,2019-06-28
61242,MAA,2017,GREY,VOLKSWAGEN,JETTA,4DSN,A,42364.0,23,1.0,9700.0,2019-06-28
61243,SLAA,2011,BLUE,VOLKSWAGEN,JETTA,4DSN,A,125802.0,20,2.0,3600.0,2019-06-30

In [117]:
volkswagon_df.to_csv('..\WHUPL\Output\Volkswagon_models_clean.csv', index=False, header=True)